section.advantages
    .wrap
        .title.advantages__title
            h3  
                | Время - валюта 21-го века
            p Инвестируй в <span class="m-background">себя</span>
    .advantages__container
        .advantages__list
            .advantages__list__item
                .advantages__list__item-img
                    +webpImage('advantages-1').desktop
                    +webpImage('advantages-1-mobile').mobile
                    +webpImage('advantages-1-mobile-small').mobile-small
                .advantages__list__item-title
                    h3 <span class="m-color">Д</span>истанционное обучение
                .advantages__list__item-subtitle
                    p.desktop.mobile Занимайтесь где и когда удобно
                    p.mobile-small Занимайтесь<br>где и когда удобно
            .advantages__list__item.double
                .advantages__list__item-img
                    +webpImage('advantages-2').desktop.mobile
                    +webpImage('advantages-2-mobile-small').mobile-small
                .advantages__list__item-title
                    h3 <span class="m-color">Б</span>есплатно
                .advantages__list__item-subtitle
            .advantages__list__item.double
                .advantages__list__item-img
                    +webpImage('advantages-3').desktop
                    +webpImage('advantages-3-mobile').mobile
                    +webpImage('advantages-3-mobile-small').mobile-small
                .advantages__list__item-title
                    h3 <span class="m-color">Д</span>оступно для восприятия
                .advantages__list__item-subtitle
                    p Лекции переведены и<br>озвучены на русский язык
                .advantages__list__item-subtitle
