section.best
    .container.best__container
        .title.best__title
            h3 
                | <span class="m-color">Лучшие</span><br>
                | университеты и <span class="m-underline">спикеры</span>
            p Топ 5 в мире
        .row.best__list.owl-carousel#slayder
            .col-lg-4.col-md-6.col-12.best__list-people__item
                .best__list-people__item-img
                    +webpImage('people-1','png').desktop
                    +webpImage('people-1-mobile','png').mobile
                    .best__list-people__item-name
                        h4 Jeff Bezos
            .col-lg-4.col-md-6.col-12.best__list-people__item
                .best__list-people__item-img
                    +webpImage('people-2','png').desktop
                    +webpImage('people-2-mobile','png').mobile
                    .best__list-people__item-name
                        h4 Brian Tracy 
            .col-lg-4.col-md-12.col-12.best__list-people__item
                .best__list-people__item-img
                    +webpImage('people-3','png').desktop
                    +webpImage('people-3-mobile','png').mobile
                    .best__list-people__item-name
                        h4 Bill Gates
            .col-lg-4.col-md-4.col-12.order-md-3.order-lg-1.best__list-company__item
                .best__list-company__item-img
                    +webpImage('company-1','png')
            .col-lg-4.col-md-4.col-12.order-md-1.order-lg-2.best__list-company__item
                .best__list-company__item-img
                    +webpImage('company-2','png')
            .col-lg-4.col-md-4.col-12.order-md-2.order-lg-3.best__list-company__item
                .best__list-company__item-img
                    +webpImage('company-3','png')