section.category
    .wrap
        .row.category__list
            .order-md-1.order-lg-1.category__list__item
                .category__list__item-image
                    +webpImage('category-1', 'png')
                .category__list__item-text  
                    h3 <span class="m-color">Б</span>изнес
                    ul
                        li Бизнес-планирование
                        li Финансы
                        li Маркетинг
                        li Инвестиции
                a(href="#").btn.btn-primary.category__list__item-btn Перейти
            .order-md-2.order-lg-2.category__list__item
                .category__list__item-image
                    +webpImage('category-2', 'png')
                .category__list__item-text  
                    h3 <span class="m-color">И</span>скусство
                a(href="#").btn.btn-primary.category__list__item-btn Перейти
            .order-md-4.order-lg-3.category__list__item
                .category__list__item-image
                    +webpImage('category-3', 'png')
                .category__list__item-text  
                    h3 <span class="m-color">П</span>сихология
                    ul
                        li Психология
                        li Эмоции
                        li Интеллект
                a(href="#").btn.btn-primary.category__list__item-btn Перейти
            .order-md-3.order-lg-4.category__list__item
                .category__list__item-image
                    +webpImage('category-4', 'png')
                .category__list__item-text  
                    h3 <span class="m-color">С</span>аморазвитие
                    ul
                        li Переговоры
                        li Тайм-менеджемент
                        li Целеполагание
                        li Женская энергетика
                a(href="#").btn.btn-primary.category__list__item-btn Перейти
            .order-md-5.order-lg-5.category__list__item
                .category__list__item-image
                    +webpImage('category-5', 'png')
                .category__list__item-text 
                    h3 <span class="m-color">П</span>роблемы глобального потепления
                a(href="#").btn.btn-primary.category__list__item-btn Перейти
            .order-md-6.order-lg-6.category__list__item
                .category__list__item-image
                    +webpImage('category-6', 'png')
                .category__list__item-text 
                    h3 <span class="m-color">И</span>нтервью мировых лидеров
                a(href="#").btn.btn-primary.category__list__item-btn Перейти
