section.cooperation-send__desktop
    .wrap.cooperation-send__desktop__wrap
        .cooperation-send__desktop__image
            +webpImage('cooperation-5', 'png')
        .cooperation-send__desktop__content
            .cooperation-send__desktop__content-text
                <span class="m-color">Н</span>апишите нам на почту:
                .cooperation-send__desktop__content-text-mail
                    a(href="#")
                        +webpImage('mail', 'png')
                        span welcome@course.com
            a(href="#").btn.btn-primary.cooperation-send__desktop__content-btn <span>Отправить</span>
section.cooperation-send__mobile
    .wrap.cooperation-send__mobile__wrap
        .cooperation-send__mobile__image-1
            +webpImage('computer', 'png')
        .cooperation-send__mobile__image-2
            +webpImage('flower', 'png')
        .cooperation-send__mobile__info
            h3 <span class="m-color" >Н</span>апишите нам на почту: 
            a(href="malito:welcome@course.com").email
                +icon('mail')
                span welcome@course.com
            a(href="#").btn.btn-primary.send Отправить