section.cooperation-brief
    .wrap.cooperation-brief__wrap
        .row.cooperation-brief__row
            .cooperation-brief__item
                .cooperation-brief__item-content
                    .cooperation-brief__item-image
                        +webpImage('card-01','png')
                    .cooperation-brief__item-description
                        p <span class="m-color">Е</span>сли вы хотите разместить<br>свои курсы на портал
            .cooperation-brief__item
                .cooperation-brief__item-content
                    .cooperation-brief__item-image
                        +webpImage('card-02','png')
                    .cooperation-brief__item-description
                        p <span class="m-color">И</span>ли вы хотите поделиться<br>советом по развитию проекта
            .cooperation-brief__item
                .cooperation-brief__item-content
                    .cooperation-brief__item-image
                        +webpImage('card-03','png')
                    .cooperation-brief__item-description
                        p <span class="m-color">И</span>ные Формы<br>Сотрудничества
    +webpImage('figure', 'png').figure
            