section.cooperation
    .wrap
        .row.cooperation__content
            .cooperation__content__card#cardOne
                h3.cooperation__content__card-number-one <span class="m-color">0</span>1
                .cooperation__content__card
                    .cooperation__content__card-image_one
                        +webpImage('cooperation-1', 'png')
                    .cooperation__content__card-text_one
                        p.cooperation__content__card-text
                            <span class="m-color">Е</span>сли вы хотите разместить свои курсы на портал

            .cooperation__content__card#cardTwo
                h3.cooperation__content__card-number-two <span class="m-color">0</span>2
                .cooperation__content__card
                    .cooperation__content__card-image_two
                        +webpImage('cooperation-2', 'png')
                    .cooperation__content__card-text_two
                        p.cooperation__content__card-text
                            <span class="m-color">И</span>ли вы хотите поделиться советом по развитию проекта

            .cooperation__content__card#cardThree
                h3.cooperation__content__card-number-three <span class="m-color">0</span>3
                .cooperation__content__card
                    .cooperation__content__card-image_three
                        +webpImage('cooperation-3', 'png')
                    .cooperation__content__card-text_three
                        p.cooperation__content__card-text
                            <span class="m-color">И</span>ные формы <br>сотруничества
                    //-Карточко где три фотографии в центре они же контент