section.main-banner.course
    .wrap.main-banner__container
        .flex-column.main-banner__column
            h5.main-banner__column-sub-title.course Все курсы
            h1.main-banner__column-title.course
                | <span class="m-color" >Н</span>азвание<br>
            .d-flex.main-banner__column-buttons.course
                a(href="#").btn.btn-head Поделиться отзывом
                a(href="#").btn.btn-outline-primary Поддержать проект
            .d-flex.main-banner__column-linkage.course
                a(href="#")
                    span Самый свежий и полезный контент
                     +icon('telegram').course
        +webpImage("shadow__main",'png').course-banner__shadow
        +webpImage('courser-men', 'png').main-banner__image.courser