section.donat-desctiption
    .wrap
        .donat-desctiption-text
            h3.desktop Хотите <span class="m-background">поддержать</span> проект<br>и получить новые лекции и курсы?  
            h3.mobile Хотите поддержать<br>проекти получить <span class="m-background">новые</span><br>лекции и курсы?  
section.donat-send
    .wrap.donat-send__wrap
        .donat-send__image
            +webpImage('student', 'png')
        .donat-send__content
            .donat-send__content-text
                p
                    |Вы можете отправить<br>        
                    |любую сумму и мы продолжим<br>
                    |пополнять портал <span class="m-underline">новым контентом</span>
            a(href="#").btn.btn-outline-primary.donat-send__content-btn Отправить
