.favorite-video
    .container
      .favorite-video__about
        .favorite-video__title Эти видео #[br.feedback-adaptiv__br] могут вам #[span понравиться]
      .favorite-slider
        .favorite-slider__item 
          .favorite-slider-video
            .favorite-slider-video__plug
              +webpImage("play", 'png').favorite-slider-video__play

              +webpImage("video-background", 'jpg').favorite-slider-video__icon

            .favorite-slider-video__body 
        .favorite-slider__item 
          .favorite-slider-video
            .favorite-slider-video__plug
              +webpImage("video-background", 'jpg').favorite-slider-video__icon
              +webpImage("play", 'png').favorite-slider-video__play

            .favorite-slider-video__body
        .favorite-slider__item 
          .favorite-slider-video
            .favorite-slider-video__plug
              +webpImage("play", 'png').favorite-slider-video__play
              +webpImage("video-background", 'jpg').favorite-slider-video__icon

            .favorite-slider-video__body
        .favorite-slider__item 
          .favorite-slider-video
            .favorite-slider-video__plug
              +webpImage("video-background", 'jpg').favorite-slider-video__icon
              +webpImage("play", 'png').favorite-slider-video__play

            .favorite-slider-video__body
        .favorite-slider__item 
          .favorite-slider-video
            .favorite-slider-video__plug
              +webpImage("video-background", 'jpg').favorite-slider-video__icon
              +webpImage("play", 'png').favorite-slider-video__play

            .favorite-slider-video__body
