section.feedback
    .container
      .feedback__about
        .feedback__title  Не хотите пропустить #[br.feedback-adaptiv__br] #[span новые] лекции и курсы?
        .feedback__subtitle Оставьте свой контакт любого из месседжеров, а мы отправим вам уведомление
      .feedback__row
        .feedback-img
          +webpImage("feedback", 'jpg').feedback-img__img
          .feedback__subtitle Оставьте свой контакт любого из месседжеров, а мы отправим вам уведомление

        form.feedback-form
          .feedback-form__input.feedback-form__item
             +icon("user").feedback-form__icon
             input(type="text" placeholder="Ваше имя")
          .feedback-form__input.feedback-form__item
              +icon("vk").feedback-form__icon
              input(type="text" placeholder="https://vk.com/...")
          .feedback-form__input.feedback-form__item
             +icon("telegram-blue").feedback-form__icon
             input(type="text" placeholder="Телефон")
          .feedback-form__input.feedback-form__item
              +icon("arroba").feedback-form__icon
              input(type="text" placeholder="E-mail")
          .feedback-form__btn.feedback-form__item
            button(type="submit") Оформить подписку