section.main-banner
    .wrap.main-banner__container
        .flex-column.main-banner__column
            h5.main-banner__column-sub-title Саморазвитие - путь к успеху
            h1.main-banner__column-title 
                | <span class="m-color" >У</span>чись у лучших<br>
                | <span class="down-title"><span class="m-color" >О</span>нлайн <span class="m-color" >Б</span>есплатно</span>
            .d-flex.main-banner__column-buttons
                a(href="#").btn.btn-outline-primary Начать обучение
                a(href="#").btn.btn-head Рекомендуемые курсы 
            .d-flex.main-banner__column-linkage
                a(href="#")
                    span Самый свежий и полезный контент
                    +icon('telegram')
        +webpImage('head-man', 'png').main-banner__image