section.main-cooperation
    .wrap.main-cooperation__container
        .flex-column.main-cooperation__column
            h1.main-cooperation__column-title 
                | <span class="m-color" >С</span>отрудничество
            .d-flex.main-cooperation__column-buttons
                a(href="#").btn.btn-head Отправить предложение
            .d-flex.main-cooperation__column-linkage
                a(href="#")
                    span Самый свежий и полезный контент
                    +icon('telegram').cooperation
        +webpImage('cop-man', 'png').main-cooperation__image
        //-Шапка где мужик Пифагор--Это вся эта секция