section.po-pup#popup
    .po-pup__main-content
        .wrap
            .po-pup__close#close-popup
                +icon("close")
            .po-pup__slayder#popup-slayder.owl-carousel
                .po-pup__content.slayder-item
                    .po-pup__content__video
                        iframe(src="//cdn.plrjs.com/player/94sd9y38shz29/pkqtn8n4f2kz.html?file=https://www.youtube.com/watch?v=UEK0ipXk21k", frameborder="0")
                    .po-pup__content__info
                        div
                            h2.po-pup__content__info-title Гайки и болты бизнес-планов
                            p.po-pup__content__info-text Опубликовано: 2 день назад
                        a(href="#").btn.btn-primary Смотреть бесплатно
                    .po-pup__content__text
                        .po-pup__content__text-description
                        .po-pup__content__text-autor
                            p  Автор: Massachusetts Institute of Technology
                        .po-pup__content__text-social
                            p Поделиться отзывом:
                            .po-pup__content__text-social-icons
                                a(href="#").vk
                                    img(src="./images/svg/vk.svg", alt="vk")
                                a(href="#").telegram
                                    img(src="./images/svg/telegram.svg", alt="telegram")
                                a(href="#").instagram
                                    img(src="./images/svg/instagram.svg", alt="instagram")
                .po-pup__content.slayder-item
                    .po-pup__content__video
                        iframe(src="//cdn.plrjs.com/player/94sd9y38shz29/pkqtn8n4f2kz.html?file=https://www.youtube.com/watch?v=Uxo8vEiAM9M" frameborder="0")
                        
                    .po-pup__content__info
                        div
                            h2.po-pup__content__info-title Гайки и болты бизнес-планов
                            p.po-pup__content__info-text Опубликовано: 2 день назад
                        a(href="#").btn.btn-primary Смотреть бесплатно
                    .po-pup__content__text
                        .po-pup__content__text-description
                        .po-pup__content__text-autor
                            p  Автор: Massachusetts Institute of Technology
                        .po-pup__content__text-social
                            p Поделиться отзывом:
                            .po-pup__content__text-social-icons
                                a(href="#").vk
                                    img(src="./images/svg/vk.svg", alt="vk")
                                a(href="#").telegram
                                    img(src="./images/svg/telegram.svg", alt="telegram")
                                a(href="#").instagram
                                    img(src="./images/svg/instagram.svg", alt="instagram")
        button.po-pup__left-arrow#slayder-left-btn
            img(src="./images/svg/left-arrow-slayder.svg", alt="alt")

        button.po-pup__right-arrow#slayder-right-btn
            img(src="./images/svg/right-arrow-slayder.svg", alt="alt")