.playlist
    .container
      .playlist__row
        .playlist-navigation
          .playlist-navigation__about
            a.playlist-navigation__title(href="#") Мои интересы
              span.playlist-navigation-informaition
                +icon("information").playlist-navigation__icon
                span.playlist-navigation-information__text Мы подберем для вас интересные курсы, для этого необходимо #[br.playlist-navigation-information__br] посмотреть не менее 3х из каталога 
            a.playlist-navigation__subtitle(href="#") Новые
            label.playlist-navigation-filter__title(for="playlist-navigation-filter") Фильтр
              +icon("filter").playlist-navigation-filter__icon
          input#playlist-navigation-filter.playlist-navigation-filter__input(type="checkbox")
          ul.playlist-menu
            li.playlist-menu__item.playlist-navigation__subtitle-li
              a.playlist-navigation__subtitle(href="#") Новые
            li.playlist-menu__item.playlist-menu__item--1
              input#playlist-menu__input1.playlist-menu__input(type="checkbox")
              .playlist-menu__box
                label.playlist-menu__title(for="playlist-menu__input1") Спикер
                  +icon("arrow").playlist-menu__arrow
                ul.playlist-menu-submenu
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Speaker1.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="spiker", value="Джефф Безос")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Speaker1")  Джефф Безос
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Speaker2.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="spiker" value="Брайан Трейси")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Speaker2")  Брайан Трейси
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Speaker3.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="spiker" value="Билл Гейтс")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Speaker3") Билл Гейтс
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Speaker4.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="spiker" value="Мишель Обама")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Speaker4") Мишель Обама
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Speaker5.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="spiker" value="Филипп Котлер")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Speaker5") Филипп Котлер
            li.playlist-menu__item
              input#playlist-menu__input2.playlist-menu__input(type="checkbox")
              .playlist-menu__box
                label.playlist-menu__title(for="playlist-menu__input2") Университет
                  +icon("arrow").playlist-menu__arrow
                ul.playlist-menu-submenu
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Colleg1.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="university" value="MIT")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Colleg1") MIT
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Colleg2.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="university" value="Yale")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Colleg2") Yale University
            li.playlist-menu__item.playlist-menu__item--3
              input#playlist-menu__input3.playlist-menu__input(type="checkbox")
              .playlist-menu__box
                label.playlist-menu__title(for="playlist-menu__input3") Направление
                  +icon("arrow").playlist-menu__arrow
                ul.playlist-menu-submenu
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Bissnes1.playlist-menu-submenu__title-input(type="checkbox"  , data-filter, data-category="trend" value="Бизнес")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Bissnes1") Бизнес
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Bissnes2.playlist-menu-submenu__title-input(type="checkbox"  , data-filter, data-category="trend" value="Искусство")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Bissnes2") Искусство
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Bissnes3.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="trend" value="Психология")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Bissnes3") Психология
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Bissnes4.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="trend" value="Саморазвитие")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Bissnes4") Саморазвитие
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Bissnes5.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="trend" value="Интервью лучших бизнесменов")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Bissnes5") Интервью лучших бизнесменов
                  li.playlist-menu-submenu__item
                    input#playlist-menu-submenu__title-Bissnes6.playlist-menu-submenu__title-input(type="checkbox" , data-filter, data-category="trend" value="Проблемы глобального потепления")
                    label.playlist-menu-submenu__title(for="playlist-menu-submenu__title-Bissnes6") Проблемы глобального потепления
            li.playlist-menu-submenu__item.playlist-menu-submenu__btns
              a.playlist-menu-submenu__btn(href="#") Применить фильтры
        .playlist-column
          .playlist-playlist__row
            - var n = 0;
              while n < 12
                .player.courses__item-js(data-value-spiker="spiker,123",data-value-university="university,123",data-value-trend="Интервью лучших бизнесменов", data-id="123")
                  .player__video.popup
                    .player__plug
                      +webpImage("video-background", 'jpg').player__plug-icon
                      +webpImage("play", 'png').player__plug-play
                    .player__body
                  .player__about
                    .player__header
                      a.player__title.popup(href="#") Гайки и болты бизнес-планов
                      a.player__subtitle.player__base-txt(href="#") Опубликовано: #[span 1 день назад]
                    .player__footer
                      a.player__base-txt(href="#") Автор: #[span Massachusetts Institute of Technology ]
                - n++
              .player.courses__item-js(data-value-spiker="Джефф Безос",data-value-university="spiker,123",data-value-trend="Психология", data-id="123")
                  .player__video.popup
                    .player__plug
                      +webpImage("video-background", 'jpg').player__plug-icon
                      +webpImage("play", 'png').player__plug-play
                    .player__body
                  .player__about
                    .player__header
                      a.player__title(href="#") Гайки и болты бизнес-планов
                      a.player__subtitle.player__base-txt(href="#") Опубликовано: #[span 1 день назад]
                    .player__footer
                      a.player__base-txt(href="#") Автор: #[span Massachusetts Institute of Technology ]
               
              .player.courses__item-js(data-value-spiker="Джефф Безос",data-value-university="spiker,123",data-value-trend="Психология", data-id="123")
                  .player__video.popup
                    .player__plug
                      +webpImage("video-background", 'jpg').player__plug-icon
                      +webpImage("play", 'png').player__plug-play
                    .player__body
                  .player__about
                    .player__header
                      a.player__title(href="#") Гайки и болты бизнес-планов
                      a.player__subtitle.player__base-txt(href="#") Опубликовано: #[span 1 день назад]
                    .player__footer
                      a.player__base-txt(href="#") Автор: #[span Massachusetts Institute of Technology ]
          .playlist__more-arrow
            +icon('big-arrow')#more-courses.playlist__big-arrow