.share
    .container.share__wrap
        .share__background
            +webpImage('paint','png')
        .row
            .share__text 
                h3.share__text-title Поделись <span class="m-underline">отзывом</span>
                p.share__text-description 
                    | Поделись отзывом о проекте в Instagram,<br> 
                    | отметив @ник, и мы отправим тебе<br>
                    | инсайты от <span class="m-color">Билл Гейтса</span> !
            .share__image 
                +webpImage('iphone','png')
            .share__shadow
                +webpImage('shadow','png')