@import '../mixins/margin';
@import '../mixins/media';
@import '../utils/variables';

.advantages{
    padding: 100px 0 35px;
    &__container{
        max-width: 1250px;
        margin: 0 auto;
    }
    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px 5px;
        height: 600px;
        &__item{
            width: 100%;
            position: relative;
            overflow: hidden;
            background: $dark-color;
            color: $white-color;
            z-index: 0;
            &-img{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                z-index: -1;
                img{
                    width: 100%;
                }
            }
            .mobile,.mobile-small{
                display: none;
            }
            .desktop{
                display: block;
            }
            &-title{    
                text-align: center;
                h3{
                    font-size: 1.875rem;
                }
            }
            &-subtitle{
                text-align: center;
                p{
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }
            &:nth-of-type(1){
                grid-column: 1;
                grid-row: 1 / 3;
                .advantages__list__item-title{    
                    text-align: left;
                    margin-left: 100px;
                    margin-top: 20px;
                }
                .advantages__list__item-subtitle{
                    text-align: left;
                    margin-left: 100px;
                    margin-top: 10px;
                    line-height: 1.5;
                }
            }
            &:nth-of-type(2){
                .advantages__list__item-title{    
                    text-align: right;
                    margin-right: 100px;
                    margin-top: 20px;
                }
            }
            &:nth-of-type(3){
                .advantages__list__item-title{    
                    margin-left: 30px;
                    margin-top: 20px;
                    width: fit-content;
                }
                .advantages__list__item-subtitle{
                    margin-left: 30px;
                    margin-top: 10px;
                    line-height: 1.5;
                    text-align: left;
                }
            }
        }
    }
}


// 1200<
@include media-laptop{
    .advantages{
        &__list{
            &__item{
                &-title{
                    h3{
                        font-size: 30px;
                    }
                }
                &-subtitle{
                    p{
                        font-size: 20px;
                    }
                }
            }
            margin: 0 20px;
        }
    }
}
// 992<
@include media-tablet-horizontal{
    .advantages{
        &__list{
            width: 590px;
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr;
            grid-gap: 30px;
            margin: 0 auto;
            &__item{
                &:nth-of-type(1){
                    grid-column: 1;
                    grid-row: 2;
                    height: 550px;
                    .advantages__list__item-title{    
                        margin: 45px auto 0;
                        text-align: center;
                    }
                    .advantages__list__item-subtitle{
                        margin-left: 95px;
                    }
                    .advantages__list__item-img{
                        width: 90%;
                    }
                }
                &:nth-of-type(2){
                    .advantages__list__item-title{    
                        margin-right: 60px;
                        margin-top: 45px;
                    }
                    .advantages__list__item-img{
                        width: 90%;
                        left: 30px;
                    }
                }
                .desktop{
                    display: none;
                }
                .mobile{
                    display: block;
                }
            }
        }
    }
}
// 768<
@include media-tablet{
    .advantages{
        padding: 60px 0 50px;
        &__list{
            width: 450px;
            grid-gap: 10px;
            &__item{
                &-title{
                    h3{
                        font-size: 20px;
                    }
                }
                &-subtitle{
                    p{
                        font-size: 16px;
                    }
                }
                &:nth-of-type(1){
                    height: 450px;
                }
            }
        }
    }
}
// 480<
@include  media-mobile{
    .advantages{
        &__list{
            grid-template-rows: 200px 2fr 200px;
            width: 300px;
            &__item{
                &-title{
                    h3{
                        font-size: 16px;
                    }
                }
                &-subtitle{
                    p{
                        font-size: 12px;
                    }
                }
                &:nth-of-type(1){
                    height: 345px;
                    .advantages__list__item-title{    
                        margin-top: 35px;
                    }
                    .advantages__list__item-subtitle{
                        margin-left: 42px;
                    }
                }
                &:nth-of-type(2){
                    .advantages__list__item-title{    
                        margin-right: 50px;
                        margin-top: 20px;
                    }
                    .advantages__list__item-img{
                        width: 100%;
                        left: 0;
                    }
                }
                &:nth-of-type(3){
                    .advantages__list__item-title{    
                        margin-left: 38px;
                        margin-top: 38px;
                    }
                    .advantages__list__item-subtitle{
                        margin-left: 38px;
                    }
                }
                .mobile{
                    display: none;
                }
                .mobile-small{
                    display: block;
                }
            }
        }
    }
}