@import '../mixins/media';
@import '../utils/variables';

.best{
    padding: 100px 0;
    .mobile,img.mobile{
        display: none;
    }
    &__list{
        justify-content: space-between;
        &-people__item{
            width: fit-content;
            margin-bottom: 120px;
            display: flex;
            flex-direction: column;
            &-name{
                position: absolute;
                bottom: 20px;
                right: 25px;
                h4{
                    font-size: 18px;
                    color: $white-color;
                    text-align: right;
                }
            }
            &-img{
                width: fit-content;
                max-height: 475px;
                position: relative;
                img{
                    height: 100%;
                }
            }
            &:nth-of-type(1){
                align-items: flex-start;
            }
            &:nth-of-type(2){
                align-items: center;
            }
            &:nth-of-type(3){
                align-items: flex-end;
            }
        }
        &-company__item{
            display: flex;
            flex-direction: column;
            &-img{
                width: 277px;
                img{
                    width: 100%;
                }
            }
            &:nth-of-type(4){
                align-items: flex-start;
            }
            &:nth-of-type(5){
                align-items: center;
            }
            &:nth-of-type(6){
                align-items: flex-end;
            }
        }
    }
}


// 1200<
@include media-laptop{

}
// 992<
@include media-tablet-horizontal{
    .best{
        padding: 100px 0;
        &__list{
            &-people__item{
                margin-bottom: 100px;
                &:nth-of-type(1){
                    align-items: flex-start;
                }
                &:nth-of-type(2){
                    align-items: flex-end;
                }
                &:nth-of-type(3){
                    align-items: center;
                }
            }
            &-company__item{
                &:nth-of-type(4){
                    align-items: flex-end;
                }
                &:nth-of-type(5){
                    align-items: flex-start;
                }
                &:nth-of-type(6){
                    align-items: center;
                }
                &-img{
                    width: 80%;
                }
            }
        }
    }
}
// 768<
@include media-tablet{

    .owl-nav{
        z-index: -1;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            width: 50px;
            img{
                width: 100%;
            }
            &:nth-of-type(1){
                margin-left: -5px;
                transform: translateX(-100%);
            }
            &:nth-of-type(2){
                margin-right: -5px;
                transform: translateX(100%);
            }
        }
    }

    .best{
        &__list{
            margin: 0 auto;
            width: 80%;
            .best__list-people__item{
                margin: 0 auto;
                display: block;
            }
            .best__list-company__item{
                &-img{
                    margin: 0 auto;
                    width: 70%;
                }
            }
        }
        .mobile{
            display: block;
        }

    }
}
// 480<
@include  media-mobile{
    .best{
        &__list{
            width: 60%;
            &-people__item{
                &-name{
                    bottom: 10px;
                    right: 15px;
                    h4{
                        font-size: 10px;
                    }
                }
            }
        }
        .desktop,img.desktop{
            display: none;
        }
        img.mobile{
            display: block;
        }
    }
}