@import '../mixins/margin';
@import '../mixins/media';
@import '../utils/variables';

.category{
    padding: 200px 0 100px;
    &__list{
        justify-content: space-between;
        padding: 0 5px;
        &__item{
            width: 48%;
            height: 650px;
            position: relative;
            overflow: hidden;
            padding-left: 85px;
            margin-bottom: 40px;
            &-image{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-text{
                position: absolute;
                top: 85px;
                h3{
                    font-size: 34px;
                }
                ul{
                    margin-top: 20px;
                    list-style: none;
                    font-size: 18px;
                    li{
                        margin: 3px 0;
                        @include v-margin;
                    }
                }
            }
            &-btn.btn{
                position: absolute;
                display: inline-block;
                padding: 10px 60px;
                bottom: 175px;
            }
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(6){
                color: $white-color;
            }
        }
    }
}
@include media-laptop{
    .category{
        &__list{
            justify-content: center;
            &__item{
            margin: 10px;
            width: 45%;
            }
        }
    }   
}
// 992<
@include media-tablet-horizontal{
    .category{
        padding: 0 0 100px;
        &__list{
            padding: 0;
            flex-direction: column;
            align-items: center;
            &__item{
                width: 416px;
                height: 510px;
                margin: 50px 0;
                padding-left: 30px;
                @include v-margin;
                &-text{
                    top: 40px;
                    right: inherit;
                    h3{
                        font-size: 30px;
                    }
                }
                &-btn.btn{
                    bottom: 33px;
                    right: inherit;
                }
                &:nth-of-type(3){
                    ul{
                        display: none;
                    }
                }
            }
        }
    }
}
// 768<
@include media-tablet{
    .category{
        &__list{
            &__item{
                margin: 25px 0;
                &-text{
                    h3{
                        font-size: 27px;
                    }
                    ul{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
// 480<
@include  media-mobile{
    .category{
        &__list{
            &.row{
                margin: 0;
            }
            &__item{
                width: 300px;
                height: 462px;
                padding-left: 40px;
                &-text{
                    top: 50px;
                    h3{
                        font-size: 20px;
                    }
                    ul{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
