@import '../mixins/media';
.cooperation-brief{
    padding: 150px 0;
    position: relative;
    &__row{
        align-items: flex-end;
    }
    &__item{
        margin-right: 80px;
        &-image{
            transform: translateX(-22px);
            margin-bottom: 43px;
            height: 205px;
            display: flex;
            align-items: flex-end;
        }
        &-description{
            font-size: 20px;
            line-height: 1.4;
        }
        &:nth-of-type(2){
            .cooperation-brief__item-image{
                transform: translateY(10px) translateX(-22px);
            }
        }
    }
    .figure{
        position: absolute;
        right: 250px;
        bottom: 0;
        transform: translateY(150px);
    }
}

// 1200<
@include media-laptop{
    .cooperation-brief{
        &__row{
            justify-content: center;
        }
        &__wrap.wrap{
            margin: 0 70px;
        }
        &__item{
            margin-right: 0;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            &:nth-of-type(1){
                width: 50%;
            }
            &:nth-of-type(2){
                width: 50%;
               
            }
            &:nth-of-type(3){
              width: 100%;
              margin-bottom: 0;
            }
        }
    }
}
// 992<
@include media-tablet-horizontal{
    .cooperation-brief{
        &__wrap.wrap{
            margin: 0 70px;
        }
        &__item{
            margin-bottom: 0;
            &-image{
                height: auto;
            }
            &:nth-of-type(1){
                width: 100%;
            }
            &:nth-of-type(2){
                width: 100%;
                align-items: flex-end;
                margin-top: -40px;
            }
            &:nth-of-type(3){
              width: 100%;
              margin-top: -40px;
            }
        }
        .figure{
            right: 100px;
            transform: translateY(80px);
        }
    }
}
// 768<
@include media-tablet{
    .cooperation-brief{
        padding: 100px 0;
        &__wrap.wrap{
            margin: 0 45px;
        }
        &__row{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            align-items: flex-start;
            margin-bottom: 67px;
            &-description{
                font-size: 18px;
            }
            &:nth-of-type(1){
                width: 260px;
            }
            &:nth-of-type(2){
                width: 260px;
                align-items: inherit;
                margin-top: 0;
                align-items: flex-start;
            }
            &:nth-of-type(3){
                width: 260px;   
                margin-top: 0;
            }
        }
        .figure{
            right: 80px;
            transform: translateY(120px);
        }
    }
}
// 480<
@include  media-mobile{
    .cooperation-brief{
        .figure{
            right: 25px;
            bottom: 15px;
            transform: inherit;
            width: 50px;
        }
    }
}