@import '../mixins/media';


//Сотрудничество
.cooperation{
    width: 100%;
    height: 100%;
    margin-top: 136px;
    //блок с картинками
    &__content{
        display: flex;
        justify-content: space-around;
        //Блок с номером, картинкой и текстом
        &__card{
            margin-top: 176px;
            margin-bottom: 165px;
            //Блок Цифры
            &-number{
                width: 19px;
                height: 14px;  
                margin-left: -8%;
                margin-bottom: -51%;

                &-one{
                    width: 23px;
                    height: 14px;
                    margin-bottom: -236px;
                    margin-left: -8%;
                }

                &-two{
                    width: 23px;
                    height: 14px;
                    margin-bottom: -294px;
                    margin-left: -9%;
                }

                &-three{
                    width: 23px;
                    height: 14px;
                    margin-bottom: -280px;
                    margin-left: -12%;
                }
            }    

                //Блок Картинка
                &-image{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    //картинка Бук
                    &_one{
                        width: 251px;
                        height: 140px;
                        margin-top: 31%;
                        margin-bottom: 11%;
                    }
                    //картинка Мужик
                    &_two{
                        width: 209px;
                        height: 196px;
                        margin-bottom: -2%;
                        margin-top: 45px;
                    }
                    //Картинка Парочка
                    &_three{
                        width: 209px;
                        height: 181px;
                        margin-bottom: -13%;
                        margin-top: -102px;
                        
                    }
                }
                //Блок текста
                &-text{ 
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 30px;
                    width: 320px;
                    //Текст Бука
                    &_one{
                        height: 47px;
                        margin-top: 65px;
                        
                    }
                    //Текст Мужика
                    &_two{
                        
                        height: 46px;
                        margin-top: 73px;
                    }
                    //Текст Парочки
                    &_three{
                        width: 152px;
                        height: 47px;
                        margin-top: 94px;
                    }
                }
        }

    }
    
}

// 1200<
@include media-laptop{
    .cooperation{
        &__content{
            
            #cardOne{
                margin-left: 3%;
            }
            #cardTwo{
                margin-left: 4%;
            }
            #cardThree{
                margin-right: 5%;
            }
        }
    }
}
// 992<
@include media-tablet-horizontal{
    .cooperation{
       &__content{
           //Почему id? потому что никак
           //Изображение Первое
           #cardOne{
               margin-left: 7px;
               margin-bottom: 10%;
           }
           //Блок с Изображение Второе
           #cardTwo{
               margin-top: 52%;
           }
           //Блок с Изображение Третье
           #cardThree{
               margin-top: -17%;
               margin-right: 53%;
               margin-left: -10%;
           }
           //Блок текста под изображениями
           &__card-text{
               font-size: 19px;
           }
       }
    }
    

}
// 768<
@include media-tablet{
    .cooperation{
        min-height: 768px;
        &__content{
            max-width: 768px;
            //Блок с Изображение Первое
            #cardOne{
                margin-left: 4%;
                margin-right: -5%;
            }
            //Блок Изображение Второе
            #cardTwo{
                margin-top: 74%;
                margin-right: -1%;
                margin-left: -5%;
            }
            
            //Блок Изображение Третье
            #cardThree{
                margin-right: 40%;
            }
        }
    }
    
}
@include media-custom(576px){
   .cooperation{
        min-height: 576px;
       &__content{
           &__card{
               height: 200px;
               &-number{
                   &-two{
                       margin-left: -25px;
                   }
               }
               &-text{
                   &_two{
                    // width: 310px;
                    // height: 46px;
                   }
               }
           }
           //Блок Изображение Первое
           #cardOne{
            margin-left: 20%;
            margin-right: 1%;
           
           }
           //Блок Изображение Второе
           #cardTwo{
               margin-top: 40%;
               max-width: 200px;
               margin-right: 45%;
               margin-left: 45%;

           }
           //Блок Изображение Третье
           #cardThree{
            margin-right: 20%;
            margin-left: 22%;
            margin-top: 20%;
           }
       }
   }
}
// 480<
@include  media-mobile{
    .cooperation{
        min-height: 480px;
            &__content{
                max-width: 350px;
                &__card{
                    max-width: 300px;
                    justify-content: center;
                    margin-left: 10%;
                        &-number{
                            &-one{
                                margin-left: 3px;
                            }
                            &-two{
                                margin-left: -6px;
                            }
                            &-three{
                                margin-left: -5px;
                            }
                        }
                        &-text{
                            max-width: 320px;
                            
                        }
                    // &-number{
                    //     &-one{
                    //         width: 50px;
                    //         margin-bottom: -300;
                    //         margin-left: 95px;
                    //     }
                    //     &-two{
                    //         width: 50px;
                    //         margin-left: -24px;
                    //     }
                    //     &-three{
                    //         width: 50px;
                    //         margin-left: 34px;
                    //     }
                    // }
                    //Текст под блоками
            //         &-text{
            //             max-width: 280px;
                        
            //              &_one{
            //             //     width: 0px;
            //             //     height: 36px;
            //                 width: 250px;

            //                  padding-left: 8%;
            //                  padding-right: -5%;
            //                  margin-left: 0%;
            //              }
            //              &_two{
            //                  width: 250px;
            //                  margin-left: 0%;
            //             //     width: 0px;
            //             //     height: 6px;
                             
            //              }
            //              &_three{
            //                  max-width: 250px;
            //             //     width: 0px;
            //             //     height: 36px;
            //                    margin-left: 0%;
            //              }
            //         }
            //         &-image{
            //             &_one{
            //                 margin-left: 10%;
            //             }
            //             &_two{
            //                 margin-left: 22%;
            //             }
            //             &_three{
            //                 margin-left: 15%;
            //             }
            //         }
            //     }
            //     #cardOne{
            //         max-width: 300px;
            //         margin-left: 20%;
            //         margin-right: 10%;
            //         // margin-right: -1%;
            //         // margin-bottom: 55%;
            //         // width: 300px;
            //     }

            //     // //Блок Изображение Второе
            //     #cardTwo{
            //         margin-top: 60%;
            //     // //    margin-left: 37%;
            //     // //    margin-right: 84%;
            //      }
            //     // //Блок Изображение Третье
            //      #cardThree{
            //     //     // margin-right: 36%;
            //         margin-top: 40%;
            //     //     // margin-bottom: 0;
                  }
             }
        }    
}

//320
@include  media-mobile-small{
    .cooperation{
        &__content{
            max-width: 200px;
            &__card{

            
                &-block{
                    max-width: 150px;
                    margin-left: -15%;
                }
                &-number{
                    margin-left: -21%;
                    margin-bottom: -73%;
                    &-one{
                        margin-bottom: -44%;
                        margin-left: 19%;
                        width: 50px;
                    }
                    &-two{
                        margin-bottom: -78%;
                        margin-left: -32%;
                    }
                    &-three{
                        margin-left: -32%;
                    }
                }
                &-text{
                    width: 250px;
                    &_one{
                        margin-left: 71%;
                        width: 250px;
                    }
                    &_two{
                        max-width: 250px;
                    }
                }
                &-image{
                    &_two{
                        margin-top: -20%;
                    }
                    &_one{
                        margin-left: 70%;
                    }
                }
            }
            
            #cardOne{
                margin-left: -20%;
            }
            //Блок Изображение Второе
            #cardTwo{
               margin-top: 80%;
               margin-left: 80%;
            }
            //Блок Изображение Третье
            #cardThree{
                margin-top: 80%;
                margin-right: -5%;
                margin-bottom: 0;
            }
            
        }
    }
}