@import '../mixins/media';
@import '../utils/variables';
//-МакБук с EMAIL
.cooperation-send__desktop{
    background-color:$white-color;
    border: 12px solid $main-color;
    margin-top: 185px;
    max-height: 244px;
    
    
    &__wrap{
        position: relative;
        height: 100%;
        padding: 44px 15px;
    }
    &__content{
        margin-top: 30px;
        margin-left: 46%;
        margin-bottom: 100px;
        color: $white-color;
        &-text{
            font-size: 30px;
            font-weight: 700;
            margin-right: 70px;
            color: $dark-color;
            margin-bottom: 50px;
            &-mail{
                font-size: 19px;
                margin-top: 16px;
                margin-left: 3px;
                a{
                    text-decoration: none;
                    color: $dark-color;
                }
                span{
                    margin-left: 4px;
                }
            }
        }
        &-btn.btn-primary{
                width: 250px;
                height: 59px;
                border-width: 5px;
                padding: 17px 85px;
        }
    }
    &__image{
        width: 463px;
        height: 292px;
        position: absolute;
        bottom: 85px;
        left: 0;
    }
}
.cooperation-send__mobile{
    display: none;
    background-color:$dark-color;
    border-top: 12px solid $main-color;
    border-bottom: 12px solid $main-color;
}
// 1200<
@include media-laptop{
    
}

// 992<
@include media-tablet-horizontal{
    .cooperation-send__desktop{
        max-height: 244px;
        &__content{
            margin-left: 60%;
            &-text{
                font-size: 18px;
                width: 300px;
                &-mail{
                    font-size: 14px;
                }
            }
        }
        &__image{
            margin-left: 2%;
        }

    }
}
// 768<
@include media-tablet{
    .cooperation-send__desktop{
        max-height: 164px;
        &__content{
            &-text{
                font-size: 14px;
                width: 180px;
                margin-top: -5%;
                &-mail{
                    font-size: 11px;
                    margin-bottom: -13%;
                }
            }
            &-btn.btn-primary{
                width: 50px;
                height: 39px;
                border-width: 5px;
                padding: 10px 32px;
            }
        }
        &__image{
            width: 243px;
            height: 62px;
            bottom: 200px;
        }
        
    }
}
// 480<
@include  media-mobile{
    .cooperation-send__desktop{
        display: none;
    }  
    .cooperation-send__mobile{
        min-height: 300px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 0;
        border-width: 12px;
        &__image-1{
            position: absolute;
            left: 0;
            bottom: 2px;
            z-index: -1;
        }
        &__image-2{
            position: absolute;
            right: 12px;
            bottom: 0;
            margin-bottom: -10px;
        }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 20px;
                color: $white-color;
            }
            a{
                color: $white-color;
                display: flex;
                align-items: center;
                &.email{
                    font-weight: 400;
                    margin: 20px 0 40px;
                    font-size: 18px;
                    span{
                        position: relative;
                        &::after{
                            content: '';
                            background-color: $main-color;
                            height: 2px;
                            width: 100%;
                            position: absolute;
                            left: 0;
                            bottom: -4px;
                            opacity: 0;
                            transition: opacity .3s ease-in-out;
                        }
                    }
                    &:hover{
                        span{
                            &::after{
                                opacity: 1;
                            }
                        }
                    }
                }
                &.send{
                    width: 226px;
                    height: 60px;
                    padding: inherit;
                    font-weight: 500;
                    font-size: 16px;
                    align-items: center;
                    justify-content: center;
                }
                svg{
                    width: 18px;
                    height: 14px;
                }
                span{
                    margin-left: 10px;
                }
            }
        }

    }
}

// 320<
@include  media-mobile-small{
    
}