@import '../mixins/media';
@import '../utils/variables';

.donat{
    &-desctiption{
        padding-top: 170px;
        &-text{
            margin-left: 290px;
            margin-bottom: 30px;
            font-size: 20px;
            .mobile{
                display: none;
            }
        }
    }
    &-send{
        background-color: $dark-color;
        border: 8px solid $main-color;
        &__wrap{
            position: relative;
            height: 100%;
            padding: 44px 15px;
        }
        &__content{
            margin-left: 290px;
            color: $white-color;
            display: flex;
            align-items: center;
            &-text{
                font-size: 18px;
                margin-right: 70px;
                line-height: 1.4;
                .m-underline{
                    padding-bottom: 5px;
                    &::after{
                        height: 3px;
                    }
                }
            }
            &-btn.btn-outline-primary{
                border-width: 5px;
                padding: 15px 100px;
            }
        }
        &__image{
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: -125px;
        }
    }
}



// 1200<
@include media-laptop{
    .donat {
        &-send{
            &__content{
                &-text{
                    font-size: 16px;
                }
            }
        }
    }
}
// 992<
@include media-tablet-horizontal{
    .donat {
        &-send{
            &__content{
                margin: 0 70px;
                justify-content: space-between;
                &-text{
                    margin-right : 20px;
                    font-size: 16px;
                }
                &-btn.btn-outline-primary{
                    padding: 15px 70px;
                }
            }
            &__image{
                top: -8px;
                left: 0;
                margin-left: -10px;
                transform: translateY(-100%);
                height: 436px;
                img{
                    height: 100%;
                }
            }
        }
        &-desctiption{
            padding-top: 350px;
            &-text{
                font-size: 21px;
                max-width: 350px;
                margin-left: 375px;
                margin-bottom: 147px;
                .desktop{
                    display: none;
                }
                .mobile{
                    display: block;
                }
            }
        }
    }
}
// 768<
@include media-tablet{
    .donat {
        &-desctiption{
            padding-top: 100px;
            &-text{
                font-size: 21px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 380px;
                text-align: center;
            }
        }
        &-send{
            border-left: none;
            border-right: none;
            &__content{
                margin: 0;
                flex-direction: column;
                text-align: center;
                align-items: center;
                &-text{
                    margin-right : 0;
                    margin-bottom: 40px;
                }
                &-btn.btn-outline-primary{
                    padding: 15px 70px;
                }
            }
            &__image{
                width: 240px;
                height: 300px;
                left: 50%;
                margin: 0;
                transform: translate(-50%, -100%);
                img{
                    width: inherit;
                    height: 100%;
                }
            }
        }
    }

}
// 480<
@include  media-mobile{
    .donat{
        &-desctiption{
            &-text{
                font-size: 18px;
            }
        }
        &-send{
            &__content{
                &-text{
                    font-size: 14px;
                }
            }
        }
    }
}