@import '../mixins/media';
@import '../utils/variables';

.favorite-video{
	padding: 130px  0 89px;
	&__about{
		text-align: center;
		margin-bottom: 79px;
	}
	&__title{
		color: $dark-color;
		font-size: 36px;
		font-weight: 700;
		span{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				bottom: -8px;
				width: 100%;
				height: 5px;
				background: $main-color

			}
		}
	}
}
@include media-mobile {

    .favorite-video__title{
    	font-size: 18px;
    	margin-bottom: 54px;
    }
}
.favorite-slider .favorite-slider__item{
	transition: .2s ease-in-out;
}
.favorite-slider-video{
	overflow: hidden;
	width: 100%;
	transition: 0.2s;
	transform: scale(0.4);
	position: relative;
	margin: 0 auto;
	&__body{
		width: 100%;
		padding-bottom: 56%;
	}
	iframe{
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
	}
	&__plug{
		display:flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 10;
		height: 100%;
		width: 100%;
		&::before{
			position: absolute;
			content:""; 
			z-index:5;
			top:0;
			left:0;
			height: 100%;
			width:100%;
			background: rgba($dark-color,0.3);
		}
	}
	&__play{
		display: none;
		z-index: 12;
		cursor:pointer;
		transition: 0.2s;;
		&:hover{
			transform: scale(1.1);
		}
	}
	&__icon{
		position: absolute;
		z-index: -1;
		top:0;
		left:0;
		height: 100%;
		width: 100%;
	}

}
.favorite-video{
	.slick-list{
		overflow: hidden;
		height: 350px !important;

	}
	.slick-track{
		align-items: center;
		display: flex;
		height: 350px  !important;
	}
	.favorite-slider__item{
   			transform: 0.3s;

		outline: none;
		display: flex;
		justify-content: center;
		width: 613px;
		margin: 0 -65px;

	}
	.slick-center{
		.favorite-slider-video {
			opacity: 1;
			transform: scale(1) !important;
			&__play{
				display: block;;
			}
		}
		.favorite-slider-video__icon{
			// display: block;
		}
	}
	.slick-dots{
		padding-top: 60px;
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: center;
		li{
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 7px;
		}
		button{
			outline: none;
			font-size: 0;
			background: none;
			border: 5px solid rgba($gray-color, 0.4);
			border-radius: 50%;
			cursor: pointer;
			transition: 0.3s;
	}
	.slick-active button{
		border: 7px solid rgba($gray-color, 0.6);
	}
}
}
@include media-laptop {
    .favorite-video{
			.container{
				max-width: none;
				padding: 0;
				margin: 0;
			}
    }
}
@include media-tablet-horizontal {
	.favorite-video{
		padding: 218px 0 10px;
	}
   	.favorite-slider{
   		& &__item{
   			width: 430px;
   			margin: 0 -40px;
   		}
   	.slick-list{
				overflow: hidden;
			height: 250px !important;
	}
		.slick-track{
			align-items: center;
			display: flex;
			height: 250px  !important;
		}
		.slick-dots{
			padding-top: 27px;
		}
   	}
}
@include media-mobile{
	.favorite-slider-video{
		transform: scale(0.8);
		
}
   	.favorite-slider{
   		& &__item{
   			width: 225px;
   			margin: 0px;
   		}

   	.slick-list{
				overflow: hidden;
				height: 150px !important;
	}
		.slick-track{
			align-items: center;
			display: flex;
			height: 150px  !important;
		}
		.slick-dots{
			padding-top: 31px;
		}
			.slick-center{
		.favorite-slider-video {
			flex: 1 1 auto;
		}
	}
   	}
   		.favorite-video{
		padding: 100px 0 10px;
		&__about{
			margin: 0;
		}
		&__title{
			margin: 0;
			margin-bottom: 44px;
		}

	}
}


