@import '../mixins/media';
@import '../utils/variables';
.feedback{
	position: relative;
	z-index: 10;
	padding: 79px 0 60px;
	box-shadow: 0 0 20px 10px rgba($dark-color,0.1);
	&__about{
		text-align: center;
		color: $dark-color;
		margin-bottom: 49px;
	} 
	&__title{
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 36px;
		span{
			padding: 0 5px;
			background: $main-color;
		}
	}
	&__subtitle{
		font-size: 18px;
		font-weight: 500;
		max-width: 500px;
		margin: 0 auto;
	}
	&__row{
		display: flex;
		max-width: 730px;
		padding: 0 5px;
		margin: 0 auto;
	}
}

.feedback-img{
	text-align: center;
	margin-bottom: 44px; 
	&__img{
		width: 247px;
		margin-bottom: 42px;
	}
}
.feedback-form{
	max-width: 431px;
	margin: 0 auto;
	flex: 1 1 auto; 
	padding-left: 54px;
	margin-left: 46px;
	&__item{
	}
	&__input{
		position: relative;
		margin-bottom: 23px;
		input{
			outline: none;
			width: 100%;
			padding: 9px 0 9px 23px;
			border: 2px solid $main-color;
			border-radius: 12px;
			&::placeholder{
				opacity: 0.3;
				color: $dark-color;
				font-size: 13px;
				font-weight: 500;
			}
			&:focus{
				&::placeholder{
					font-size: 0;
				}
			}
		}
	}
	&__icon{
		position: absolute;
		left: -51px;
		top: 50%;
		margin-top: -18px;
		width: 33px;
		height: 34px;
	}
	&__btn{
		button{
				border: none;
				width: 100%;
				padding: 15px 5px;
				background: $main-color;
				border: 2px solid $main-color;
				cursor: pointer;
				transition: 0.3s;
				font-size: 16px;
				font-weight: 500;
				color: $white-color;
		&:hover{
			background: $dark-color;
		}
		}

	}
}
.feedback-adaptiv__br{
	display: none;
}
@include media-tablet {
    .feedback{
    	.container{
    		max-width: none;
    		padding: 5px;
    	}
    }
    .feedback-form{
			padding-right: 27px;
			margin-left: 36px;
    }
}
.feedback-img{
	.feedback__subtitle{
		display: none;
	}
}
@include media-mobile {

    .feedback{
    	padding: 52px 0 72px;
    	& .container{
    		padding: 0;
    	}
    	&__about{
    		margin-bottom: 0px;
    	}
    	&__title{
    		font-size: 18px;
    		line-height: 30px;
    		margin-bottom: 22px;
    	}
    	&__subtitle{
    		display: none;
    		max-width: 315px;
    	}
    	&__row{
    		flex-direction: column;
    	}
    }
    .feedback-adaptiv__br{
			display: block;
		}
    .feedback-img{
    	&__img{
			width: 223px;
			height: 212px;
    	}
    	& .feedback__subtitle{
    		display: block;
    	}
    }
		.feedback-form{
			max-width: none;
			padding: 0 5px;
			margin: 0;
			margin-bottom: 27px;
			&__input{
				input{
					border-radius: 14px;
					padding: 12px  0 12px;
					padding-left: 44px;
				}
			}
			&__icon{
				transform: scale(0.6);
				left: 10px;
			}
		}
}