
@import '../mixins/margin';
@import '../mixins/media';
@import '../utils/variables';
//По МИКСИНАМ ГЛЯНЬ НУЖНЫ ЛИ ОНИ, ПОДКЛЮЧИЛ НА ВСЯКИЙ, margin точно под вопросом
//Тут мужик в шапке который находится!
.main-cooperation{
    padding: 225px 0 106px;
    background-color: $dark-color;
    min-height: 850px;
    overflow: hidden;
    &__container{
        position: relative;
        z-index: 0;
    }
    &__column{
        //Слово Сотрудничество
        &-title{
            width: 509px;
            height: 52px;
            margin: 33px 0 81px;
            font-size: 60px;
            font-weight: 700;
            line-height: 60px;
            color: $white-color;
            .m-background:last-child{
                padding: 0 5px;
            }
            .down-title{
                font-size: 3rem;
            }
        }
        //Кнопка Отправить предложение
        &-buttons{
            .btn{
                margin: 0 10px;
                text-decoration: none;
                @include h-margin;
                &:nth-of-type(2){
                    padding: 17px 30px;
                }
            }
        }
        //Блок для Самый свежий и полезный контент icon Telegram
        &-linkage{
            display: inline-block;
            margin-top: 195px;
            a{
                display: flex;
                align-items: center;
                color: $white-color;
                text-decoration: none;
                font-weight: 400;
                opacity: .7;
                transition: opacity .2s ease-in-out;
                font-size: 24px;
                svg{
                    width: 42px;
                    height: 42px;
                    fill: $white-color;
                    margin-left: 15px;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
        //Пифагор он же Мужик
    &__image{
        height: 860px;
        width: 980px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: -170px;
        margin-right: -300px;
        z-index: -1;
    }
}


// 1200<
@include media-laptop{
    .main-cooperation{
        //Ровняем Мужика
        &__image{
            width: 83%;
            margin-right: -150px;
        }
    }
}
// 992<
@include media-tablet-horizontal{
    .main-cooperation{
        //Стилизуем весь блок
        position: relative;
        z-index: 0;
        text-align: center;
        &__container{
            z-index: auto;
        }
        &__column{
            align-items: center;
        //Сотрудничество Тайтл
            &-title{
                position: absolute;
                font-size: 3rem;
                margin-left: 24%;
                margin-bottom: 7%;
                .down-title{
                    font-size: 3rem;
                }
            }
        //Кнопка отправить предложение
            &-buttons{
                justify-content: center;
                margin-top: 20%;
                margin-bottom: -9%;
                margin-left: 5%;
            }
        //Самый свежий и полезный контент, icon Telegram, ровнял только
            &-linkage{
                justify-content: center;
                margin-left: 10%;
                margin-top: 20%;
                margin-bottom: 0%;
                a{
                    margin-bottom: 5%;
                    flex-direction: row;
                    align-items: center;
                    svg{
                        margin: 0 35px 0;
                    }
                }
            }
        }
        //Мужик которого ровняем
        &__image{
            width: 950px;
            height: 870px;
            margin-bottom: -35%;
            margin-right: -1.01%;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            background: rgba($color: $dark-color, $alpha: .8);
        }
    }
}
// 768<
@include media-tablet{
    .main-cooperation{
        //Ровняем весь блок
        min-height: 768px;
        position: relative;
        z-index: 0;
        text-align: center;
        &__container{
            z-index: auto;
        }
        &__column{
            align-items: center;
            margin-left: -5%;
            margin-top: 10%;
        //Сотрудничество Тайтл
            &-title{
                margin-right: 17%;
                margin-left: 16.90%;
                margin-top: -2%;
                font-size: 3rem;
                .m-background:last-child{
                    padding: 2px 5px;
                }
                .down-title{
                    font-size: 3rem;
                }
            }
        //Кнопка Отправить Предложение
            &-buttons{
                justify-content: center;
                margin-left: 10%;
            }
        //Самый свежий и полезный контент, icpn Telegram
            &-linkage{
                justify-content: center;
                a{
                    flex-direction: column;
                    align-items: center;
                    svg{
                        margin: 20px 0 0;
                    }
                }
            }
        }
        //Мужик Ровняем
        &__image{
            position: absolute;
            max-width: inherit;
            width: 768px;
            margin-bottom: -24.85%;
            margin-right: -4.51%;
        }
    }
}
@include media-custom(576px){
    .main-cooperation{
        //Ровняем весь блок
        min-height: 583px;
        overflow: hidden;
        padding: 150px 0 50px;
        &__column{
        //Сотрудничество Тайтл
            &-title{
                margin: 50px  40px;
                font-size: 2.1875rem;
                line-height: 1.4;
                margin-left: 6%;
                margin-top: -4%;
                .down-title{
                    font-size: 2.1875rem;

                }
            }
        //Кнопка Отправить Предложение
            &-buttons{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .btn{
                    margin: 10px 0;
                    @include v-margin;
                }
            }
        //Самый свежий и полезный контент, icon Telegram
            &-linkage{
                justify-content: center;
                margin-top: 120px;
                a{
                    flex-direction: column;
                    align-items: center;
                    font-size: .875rem  ;
                    svg{
                        margin: 20px 0 0;
                    }
                }
            }
        }
        //Мужик ровняем
        &__image{
            margin-bottom: 0;
            margin-right: 60%;
            transform: translate(60%, 32%);
        }
    }
}
// 480<
@include  media-mobile{
    .main-cooperation{
        //Отступы блока не трогал
        padding: 128px 0 26px;
       
        
        &__column{
        //Сотрудничество Тайтл
            &-title{
                margin: 20px  0 10px 95px;
                font-size: 1.5rem;
                max-width: 250px;
            }
        //Кнопка Отправить предложение
            &-buttons{
                margin-top: 25%;
                .btn{
                    font-size: .775rem;
                }
            }
        //Самый свежий и полезный контент, icon Telegram
            &-linkage{
                margin-top: 26%;
                a{
                    font-size: .875rem ;
                }
            }
        }
        //Ровняем Мужика
        &__image{
            transform: translate(55%, 42%);
        }
    }
}
//320
@include media-mobile-small{
    .main-cooperation{
        &__column{
            &-title{
                margin: 0px  0 10px 45px;
            }
            &-buttons{
                .btn{
                    font-size: .675rem;
                }
            }
        }
    }
}