
@import '../mixins/margin';
@import '../mixins/media';
@import '../utils/variables';

.main-banner{
    padding: 225px 0 106px;
    box-sizing: border-box;
    background-color: $dark-color;
    min-height: 850px;
    overflow: hidden;
    &__container{
        position: relative;
        z-index: 0;
    }
    &__column{
        &-sub-title{
            font-size: 1.5rem;
            font-weight: 300;
            color: $white-color;
            &.course{
                font-size: 36px;
            }
        }
        &-title{
            margin: 33px 0 65px;
            font-size: 3.75rem;
            line-height: 78px;
            color: $white-color;
            .down-title{
                font-size: 3rem;
            }
            &.course{
                margin: 27px 0 88px; 
            }
        }
        &-buttons{

            .btn{
                margin: 0 10px;
                text-decoration: none;
                @include h-margin;
                &:nth-of-type(2){
                    padding: 17px 30px;
                }
            }


        }
        &-linkage{
            display: inline-block;
            margin-top: 175px;
            a{
                display: flex;
                align-items: center;
                color: $white-color;
                text-decoration: none;
                font-weight: 400;
                opacity: .7;
                transition: opacity .2s ease-in-out;
                font-size: 24px;
                // PAGES
                svg{
                    width: 42px;
                    height: 42px;
                    fill: $white-color;
                    margin-left: 15px;
                    &.course{
                        position: relative;
                        bottom: -15px;
                    }
                }
                &:hover{
                    opacity: 1;
                }
            }
            &.course{
                margin-top:94px;

            }
        }
    }
    //PAGES
    &__image{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: -380px;
        margin-right: -200px;
        z-index: -1;
        &.courser{
            margin: 0;
            margin-bottom: -200px;
            width: 524px;
            height: 754px;
        }

    }
    &.course{
        overflow: hidden;
        padding-top: 193px;
        min-height: 640px;
    }
}
 // PAGES
.main-banner__column-buttons.course{
    .btn{
    padding: 19px 40px;

    }
 }
// PAGES
.course-banner__shadow{
    position: absolute;
    z-index: -1;
    right: -80px;
    bottom: -20px;
}
@include media-mobile {
    .main-banner__column-buttons.course{
        .btn{
            display: block;
            padding-right: 0;
            padding-left: 0;
             max-width: 225px;
            margin: 0 auto;
            margin-bottom: 22px;
        }
    }
}


// PAGES
@include media-tablet-horizontal {
    
    .main-banner__column-linkage.course{
        padding-bottom: 69px;
        svg{
            margin: 0 auto;
            margin-top: 19px;
            display: block !important;
        }

    }
    .main-banner__image.courser{
        margin-bottom: -150px;
        margin-right: 33px;
    }

}

// 1200<
@include media-laptop{
    .main-banner{
        &__image{
            width: 72%;
        }
    }

}
// 992<
@include media-tablet-horizontal{
    .main-banner__column-linkage.course{
        margin: 105px 0 0 0 !important;
        padding:0 !important;
    }
    .main-banner{
        position: relative;
        z-index: 0;
        text-align: center;
        &.course{
            padding: 186px 0 100px;
        }
        &__container{
            z-index: auto;
        }
        &__column{
            align-items: center;
            &-sub-title{
                font-size: 1.875rem;
            }
            &-title{
                margin: 25px 0 50px;
                font-size: 3rem;
                .down-title{
                    font-size: 3rem;
                }
                &.course{
                    margin: 22px 0 39px;
                }
            }
            &-sub-title.course{
                font-size: 18px;
            }
            &-buttons{
                justify-content: center;
            }
            &-linkage{
                justify-content: center;
                a{
                    flex-direction: column;
                    align-items: center;
                    svg{
                        margin: 20px 0 0;
                    }
                }
                &.course{
                    margin: 105px;
                }
            }
        }
        &__image{
            max-width: inherit;
            width: 768px;
            margin-bottom: -32.55%;
            margin-right: -6.51%;

        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            background: rgba($color: $dark-color, $alpha: .8);
        }
    }
}
// 768<
@include media-tablet{
    .main-banner{
        position: relative;
        z-index: 0;
        text-align: center;
        &__container{
            z-index: auto;
        }
        &__column{
            align-items: center;
            &-sub-title{
                font-size: 1.875rem;
            }
            &-title{
                margin: 25px 0 50px;
                font-size: 3rem;
                .down-title{
                    font-size: 3rem;
                }
            }
            &-buttons{
                justify-content: center;
            }
            &-linkage{
                justify-content: center;
                a{
                    flex-direction: column;
                    align-items: center;
                    svg{
                        margin: 20px 0 0;
                    }
                }
            }
        }
        &__image{
            max-width: inherit;
            width: 768px;
            margin-bottom: -32.55%;
            margin-right: -6.51%;

        }
    }

}
@include media-custom(576px){
    .main-banner{
        min-height: 583px;
        overflow: hidden;
        padding: 150px 0 50px;
        &__column{
            &-sub-title{
                font-size: 1.5625rem;
            }
            &-title{
                margin: 20px 0 30px;
                font-size: 2.1875rem;
                line-height: 1.4;
                .down-title{
                    font-size: 2.1875rem;

                }
            }
            &-buttons{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .btn{
                    width: 80%;
                    margin: 10px 0;
                    @include v-margin;
                }
            }
            &-linkage{
                justify-content: center;
                margin-top: 80px;
                a{
                    flex-direction: column;
                    align-items: center;
                    font-size: .875rem  ;
                    svg{
                        margin: 20px 0 0;
                    }
                }
            }
        }
        &__image{
            margin-bottom: 0;
            margin-right: 50%;
            transform: translate(60%, 32%);

        }
    }
    //PAGES
    .main-banner__image.courser{
        margin-bottom: 135px;
       margin-right: 250px;
    }
}
// 480<
@include  media-mobile{

    .main-banner{
        padding: 128px 0 46px;
        &__column{
            &-sub-title{
                font-size: .875rem;
                &.course{
                    font-size:14px;
                }
            }
            &-title{
                margin: 20px 0 30px;
                font-size: 1.5rem;
                .down-title{
                    font-size: 1.5rem;
                }
                &.course{
                    margin: 17px 0 53px;
                }
            }
            &-buttons{
                .btn{
                    font-size: .875rem;
                }
            }
            &-linkage{
                margin-top: 60px;
                a{
                    font-size: .875rem ;
                }
                &.course{
                    margin: 65px 0 0 0!important;
                }
            }

        }
        &__image{
            transform: translate(55%, 42%);
        }
         .main-banner__image.courser{
            height: 600px;
            width: 405px;
            margin-right: 105px;
            margin-bottom: 120px;
    }
    }
    .course-banner__shadow.courser{
        margin-bottom: 120px;
        margin-right: -140px;
    }
    .main-banner__column-buttons.course{
        flex-direction: column-reverse;
        .btn-outline-primary{
            margin-bottom: 22px;
        }
        .btn-head{
            margin-bottom: 0;
        }
    }
}