//PO-PUP

@import '../mixins/margin';
@import '../mixins/media';
@import '../utils/variables';

.po-pup{
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    display: none;
    .wrap{
        max-width: 1005px;
    }
    &::after{
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: $dark-color, $alpha: .7);
        z-index: -1;
    }
    &__main-content{
        position: relative;
        max-width: 1280px;
        width: 100%;
        height: auto;
        margin: auto;
        background: #fafafa;
        padding: 136px 0 76px;
    }
    &__slayder{
        
    }
    &__content{
        z-index: 1;
        &__video{
            width: 100%;
            height: 529px;
            position: relative;
            iframe{
                width: 100%;
                height: 100%!important;
            }
            // &-preview{
            //     background: $gray-color;
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;
            //     display: flex;
            //     align-items: center;
            //     justify-content: center;
            //     transition: opacity .2s ease-in;
            //     opacity: 1;
            //     img{
            //         width: 100%;
            //         height: 100%;
            //         object-fit: cover;
            //     }
            //     &::after{
            //         content: '';
            //         background: url(../images/svg/video-player.svg) 50% 50% / contain no-repeat;
            //         position: absolute;
            //         left: 50%;
            //         top: 50%;
            //         transform: translate(-50%,-50%) scale(1);
            //         width: 90px;
            //         height: 90px;
            //         transition: transform .2s ease-in;
            //         opacity: .7;
            //     }
            //     &:hover{
            //         cursor: pointer;
            //         opacity: .8;
            //         &::after{
            //             transform: translate(-50%,-50%) scale(.9);

            //         }
            //     }
            // }
        }
        &__info{
            margin: 67px 0 41px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-title{
                font-weight: 500;
                font-size: 32px;
                margin-bottom: 10px;
            }
            &-text{
                font-size: 18px;
                font-weight: 300;
            }
            a{
                margin-left: 80px;
                display: block;
            }
        }
        &__text{
            &-description{
                font-size: 24px;
                font-weight: 400;
                line-height: 1.4;
                margin-bottom: 65px;
            }
            &-autor{
                display: none;
            }
            &-social{
                display: flex;
                align-items: center;
                p{
                    font-size: 24px;
                    font-weight: 300;
                }
                &-icons{
                    margin-left: 35px;
                    a{
                        margin: 0 5px;
                        width: 35px;
                        height: 35px;
                        display: inline-block;
                        @include h-margin;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    &__left-arrow{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(20%,-50%);
        background: none;
        border: none;
        opacity: .3;
        transition:  opacity .2s ease-in;
        img{
            width: 97px;
            height: 97px;
            fill: $main-color;
        }
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
    &__right-arrow{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-20%,-50%);
        background: none;
        border: none;
        opacity: .3;
        transition:  opacity .2s ease-in;
        img{
            width: 97px;
            height: 97px;
        }
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
    &__close{
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-20%,20%);
        transition: opacity .2s ease-in;
        opacity: .3;
        svg{
            fill: $main-color;
            width: 97px;
            height: 97px;
        }
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
    }
}

// 1200<
@include media-laptop{

}
// 992<
@include media-tablet-horizontal{
    .po-pup{
        .wrap{
            max-width: 400px;
        }
        &__main-content{
            height: auto;
            padding: 76px 0 54px;
        }
        &__content{
            &__video{
                height: 212px;
                &-preview{
                    &::after{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            &__text{
                &-description{
                    font-size: 9.7px;
                    margin-bottom: 27px;
                }
                &-social{
                    p{
                        font-size: 9.7px;
                    }
                    &-icons{
                        margin-left: 16px;
                        a{
                            margin: 0 3px;
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
            &__info{
                margin: 27px 0 18px;
                &-title{
                    font-size: 14.5px;
                    margin-bottom: 8px;
                }
                &-text{
                    font-size: 7.27px;
                }
                a{
                    margin-left: 33px;
                    font-size: 6px;
                    padding: 7px 16px;
                }
            }
        }
        &__close{
            svg{
                width: 40px;
                height: 40px;
            }
        }
        &__left-arrow{
            img{
                width: 40px;
                height: 40px;
            }
        }
        &__right-arrow{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}
// 768<
@include media-tablet{

}
// 480<
@include  media-mobile{
    .po-pup{
        .wrap{
            padding: 0 47px;
            max-width: inherit;
        }
        &__main-content{
            padding: 70px 0 54px;
        }
        &__content{
            &__video{
                height: 45vw;
                &-preview{
                    &::after{
                        width: 32px;
                        height: 32px;
                    }
                }
            }
            &__info{
                margin: 20px 0 23px;
                &-title{
                    font-size: 13px;
                    margin-bottom: 8px;
                }
                &-text{
                    font-size: 9px;
                }
                a{
                    display: none;
                }
            }
            &__text{
                &-description{
                   display: none;
                }
                &-autor{
                    display: block;
                    font-size: 9px;
                    font-weight: 300;
                    margin-bottom: 70px;
                }
                &-social{
                    flex-direction: column;
                    p{
                        font-size: 14px;
                    }
                    &-icons{
                        margin-top: 25px;
                        margin-left: 0;
                        a{
                            margin: 0 3px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
        &__close{
            transform: translate(-20%,-20%);
            svg{
                width: 32px;
                height: 32px;
            }
        }
        &__left-arrow{
            display: none;
            // svg{
            //     width: 32px;
            //     height: 32px;
            // }
        }
        &__right-arrow{
            display: none;
            // img{
            //     width: 32px;
            //     height: 32px;
            // }
        }
    }
}