@import "../mixins/media";
@import "../utils/variables";
.playlist {
	padding-top: 148px;
	padding-bottom: 120px;
	background: $white-color;
	&__row {
		display: flex;
	}
}
.playlist-column {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.playlist-playlist__row {
	margin: 0 -24px;
	display: flex;
	flex-wrap: wrap;
}
.playlist__more-arrow {
	display: flex;
	justify-content: center;
}
.playlist__big-arrow {
	position: relative;
	bottom: 0;
	width: 31px;
	height: 16px;
	opacity: 0.79;
	cursor: pointer;
	transition: 0.3s;
	&:hover {
		bottom: -5px;
	}
}
@include media-laptop {
	.playlist-playlist__row{
		max-width: 551px;
		margin: 0 auto;
	}
}
@include media-tablet-horizontal {
	.playlist-playlist__row{
		justify-content: space-between;
	}
	.playlist {
		padding: 0 0 177px 0;

		.container {
			max-width: none;
			width: 100%;
			padding: 0;
			margin: 0;
		}
		&__row {
			flex-direction: column;
		}
	}
	.playlist-menu-submenu {
		position: relative;
		right: -50px;
	}
}
@include  media-custom(560px) {
	.playlist {
		padding: 15px 0 63px;
	}
}
.player__base-txt {
    display: block;
    }
// =============== < PLAYLIST-NAVIGATION > ======================
.playlist-navigation-informaition {
	position: relative;
}
.playlist-navigation-information__text {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: -110px;
	right: -450px;
	z-index: 20;
	padding: 20px 30px;
	width: 493px;
	background: #fff;
	color: $dark-color;
	font-size: 14px;
	font-weight: 500;
	transition: 1s;
	&:hover {
		visibility: visible;
		opacity: 1;
		right: -490px;
		transition: 0.3s;
	}
}

.playlist-navigation {
	position: relative;
	margin-right: 53px;
	width: 220px;
	padding: 74px 0px 0 18px;
	background: #fff; // Только этот подходит
	&__about {
		min-width: 220px;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 26px;
	}
	&__title {
		color: $main-color;
		display: flex;
		flex-direction: row;
		margin-bottom: 23px;
	}
	&__subtitle {
		color: $main-color;
	}
	&__icon {
		position: relative;
		top: -6px;
		right: -2px;
		width: 15px;
		height: 15px;
		cursor: pointer;
		&:hover + .playlist-navigation-information__text {
			visibility: visible;
			opacity: 1;
			right: -490px;
			transition: 0.3s;
		}
	}
}
.playlist-navigation-information__br {
	display: none;
}
@include media-laptop {
	.playlist-navigation {
		margin-right: 33px;
	}
}
@include media-tablet-horizontal {
	.playlist-navigation-informaition {
		position: static;
	}
	.playlist-navigation-information__text {
		opacity: 0;
		visibility: hidden;
		width: 381px;
		padding: 30px 46px 41px 33px;
		right: 40px;
		top: -95px;
		line-height: 25px;
		background: $white-color;
	}
	.playlist-navigation__icon:hover + .playlist-navigation-information__text {
		visibility: visible;
		opacity: 1;
		right: 10px;
		transition: 0.3s;
	}
	.playlist-navigation {
		max-width: none;
		width: 100%;
		margin: 0 0 50px 0;
		padding: 57px 0 37px;
		&__about {
			position: static;
			margin: 0 auto;

			margin-bottom: 14px;
		}
		&::before {
			display: none;
		}
		&__title {
			margin-right: 110px;
		}
	}
}

@include  media-custom(560px) {
	.playlist-navigation-information__text {
		visibility: 0;
		opacity: 0;
		width: 100%;
		right: 10px !important;
		top: -70px;
		padding: 10px 5px;
	}
	.playlist-navigation__icon:hover + .playlist-navigation-information__text {
		visibility: visible;
		opacity: 1;
		right: 0px !important;
		transition: 0.3s;
	}
	.playlist-navigation {
		margin: 0px 0 77px;
		padding: 35px 0 27px;
		&__title {
			margin-right: 35px;
		}
	}
}

.playlist-menu-submenu {
	// ПодМеню
	text-align: left;
	list-style: none;
	overflow: hidden;
	max-width: 170px;
	max-height: 0;
	padding-top: 0px;
	& &__item {
		position: relative;
		padding: 0 0 0 18px;
		margin-bottom: 16px;
	}
	&__title {
		position: relative;
		cursor: pointer;
		color: $dark-color;
		font-size: 14px;
		font-weight: 500;
		&::before {
			content: "";
			position: absolute;
			top: 3px;
			left: -18px;
			/* Style for "rect копия" */
			width: 12px;
			height: 10px;
			border: 1px solid $main-color;
			transition: 0.1s;
		}
		&-input {
			display: none;
			&:checked + .playlist-menu-submenu__title {
				&::before {
					background: $main-color;
				}
			}
		}
	}
}
.playlist-menu {
	list-style: none;
	&__item {
		margin-bottom: 25px;
	}
	&__title {
		position: relative;
		cursor: pointer;
		color: $main-color;
		font-size: 16px;
		font-weight: 500;
	}
	&__arrow {
		transition: 0.35s;
		position: absolute;
		top: 8px;
		right: -19px;
		width: 12px;
		height: 6px;
	}
	.playlist-menu-submenu {
		overflow: hidden;
		max-height: 0;
		transition: 0.3s;
	}
	&__input {
		display: none;
		&:checked + .playlist-menu__box {
			.playlist-menu-submenu {
				padding-top: 17px;
				max-height: 400px;
			}
			.playlist-menu__arrow {
				transform: rotate(-180deg);
			}
		}
	}
}
.playlist-menu__item.playlist-navigation__subtitle-li {
	display: none;
}
@include media-tablet-horizontal {
	.playlist-navigation__about {
		display: flex;
		justify-content: center;
	}
	.playlist-menu {
		position: relative;
		display: flex;
		justify-content: center;
		overflow: hidden;
		& > * {
			transform: translateX(3px);
		}
	}
	.playlist-menu__item {
		padding-right: 10;
		position: relative;
		max-width: 200px;
		width: 100%;
		&--1 {
			right: -46px;
		}
		&--2 {
			right: -10px;
		}
		.playlist-menu__box {
			.playlist-menu-submenu {
				position: relative;
				left: 0;
			}
		}
		.playlist-menu__title {
			font-size: 20px;
		}
	}
}
.playlist-menu .playlist-navigation__subtitle {
	display: none;
}
.playlist-menu-submenu__btns {
	display: none;
}
.playlist-menu-submenu__btn {
	display: block;
	width: 225px;
	margin: 0 auto;
	font-weight: 500;
	text-align: center;
	padding: 13px 5px;
	background: $main-color;
	color: $white-color;
	transition: 0.2s;
	border: 2px solid $main-color;
	&:hover {
		background: $dark-color;
	}
}
@include media-custom(560px) {
	.playlist-menu__item.playlist-navigation__subtitle-li {
		display: block;
		font-size: 20px;
	}
	// адаптив для классов выше
	.playlist-menu__box {
		text-align: left;
	}
	.playlist-navigation__subtitle {
		display: none;
	}
	.playlist-menu {
		overflow: hiden;
		max-height: 0;
		transition: 0.5s;
		flex-direction: column;
		padding-left: 10px;
		&__item {
			margin-bottom: 32px;
			&__item {
				&.playlist-navigation__subtitle-li {
					display: block;
				}
			}
		}
		&__arrow {
			transform: rotate(-90deg);
		}
		& .playlist-navigation__subtitle {
			display: block;
			margin-top: 20px;
		}
		.playlist-menu-submenu__btns {
			display: block;
			width: 100%;
			max-width: none;
			text-align: center;
		}
	}
	.playlist-menu__item {
		&--1,
		&--2,
		&--3 {
			right: 0px;
		}
		.playlist-navigation__subtitle {
			display: block;
		}
	}
}
.playlist-navigation-filter {
	&__title {
		display: none;
		position: relative;
		padding-right: 54px;
		color: $main-color;
		font-size: 18px;
		font-weight: 700;
	}
	&__icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 37px;
		height: 29px;
	}
	&__input {
		display: none;
		&:checked + .playlist-menu {
			max-height: 900px;
			transition: 0.7s;
		}
	}
}
@include  media-custom(560px) {
	// адаптив для классов выше
	.playlist-navigation-filter {
		&__title {
			display: block;
		}
	}
	.playlist-navigation__about {
		margin: 0;
	}
}
.player {
	box-sizing: content-box;
	width: 253px;
	padding: 0 19px;
	display: flex;
	flex-direction: column;
	margin-bottom: 93px;
	display: none;
	&__video {
		position: relative;
		margin-bottom: 19px;
	}
	&__body {
		width: 100%;
		padding-bottom: 56%;
	}
	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	
	&__title {
		flex: 1 1 auto;
		display: block;
		color: $dark-color;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 8px;
	}
	&__base-txt {
		padding-bottom: 22px;
		color: $dark-color;
		font-size: 10px;
		font-weight: 300;

	}
	&__plug {
		// Затычка
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: $gray-color;
		display: flex;
		align-items: center;
		justify-content: center;
		&-icon {
			position: absolute;
			z-index: -1;
			top:0;
			left:0;
			height: 100%;
			width: 100%;

		}
		&-play{
			cursor:pointer;
			transition: 0.2s;
			&:hover{
				transform: scale(1.1);
			}
		}
		&::before{
			position: absolute;
			content:""; 
			z-index:5;
			top:0;
			left:0;
			height: 100%;
			width:100%;
			background: rgba($dark-color,0.3);
		}
	}
}
@include media-laptop {
	.player{
		padding: 0 6px;	}
}

@include media-custom(534px){
	.playlist-playlist__row {
		max-width: none;
		margin: 0;
	}
	.player {
		max-width: none;
		width: 100%;
		margin: 0 10px 53px 10px;
	}
}
