@import '../mixins/media';
@import '../utils/variables';


.share{
    width: 100%;
    padding: 35px 0;
    display: flex;
    &__wrap{
        position: relative;
        width: 100%;
    }
    &__background{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-left: -665px;
        margin-bottom: -60px;  
        z-index: -1;
        img{
            margin-bottom: -6px;
        }
    }
    &__text{
        margin-top: 200px;
        margin-left: 95px;
        .mobile{
            display: block;
        }
        &-title{
            font-size: 42px;
            .m-underline{
                padding-bottom: 5px;
                &::after{
                    height: 5px;
                }
            }
        }
        &-description{
            margin-top: 35px;
            font-size: 24px;
        }
    }
    &__image{
        width: 360px;
        margin-left: 80px;
        img{
            width: 100%;
        }
    }
    &__shadow{
       position: absolute;
       right: 0;
       top: 50%;
       z-index: -1;
    }
}

@include media-laptop{
    .share{ 
        &__background{
            width: 70%;
            margin-left: -380px;
            margin-bottom: -150px;  
            z-index: -1;
            img{
                margin-bottom: -6px;
            }
        }
        &__text{
            margin-top: 70px;
            margin-left: 0;
            &-title{
                .m-underline{
                    padding-bottom: 10px;
                }
            }
            &-description{
                font-weight: 500;
            }
        }
        &__image{
            width: 270px;
        }
        &__shadow{
            right: 200px;
            top: 30%;
        }
    }
}
// 992<
@include media-tablet-horizontal{
    .share{
        padding: 100px 0;
        &__background{
            width: 100%;
            margin-left: -445px;
            margin-bottom: -110px;
        }
        .row{
            justify-content: space-between;
        }
        &__text{
            margin-left: 60px;
            &-title{
                font-size: 30px;
            }
            &-description{
                font-size: 18px;
            }
        }
        &__image{
            width: 250px;
            margin-left: 0;
        }
        &__shadow{
            right: 100px;
            top: 20%;
        }
    }
}
    
// 768<
@include media-tablet{
    .share{
        padding: 90px 0;
       .row{
           flex-direction: column;
       }
       &__text{
           margin-top: 0;
       }
       &__background{
            width: 700px;
            margin-left: -400px;
            margin-bottom: -40px;  
        }
       &__image{
           margin: 30px 20px 0 0 ;
           align-self: flex-end;
       }
       &__shadow{
            right: 50px;
            top: 50%;
        }
    }
}
// 480<
@include  media-mobile{
    .share{
        &__text{
            margin-left: 30px;
            &-title{
                font-size: 20px;
                .m-underline{
                    padding-bottom: 5px;
                    &::after{
                        height: 3px;
                    }
                }
            }
            &-description{
                font-size: 12px;
                line-height: 1.5;
            }
            margin-top: 0;
        }
        &__image{
            width: 150px;
            margin: 30px 20px 0 0 ;
        }
        &__background{
            width: 480px;
            margin-left: -220px;
            margin-bottom: -40px;  
        }
        &__shadow{
            right: 0px;
            top: 40%;
        }
    }
}