footer.footer
    .container
        .row.footer__list
            .order-1.order-sm-1.col-md-5.col-sm-6.footer__list__item
                p.footer__list__item-title Выбрать курс 
                ul.footer__list__item-nav
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Психология
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Искусство
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Бизнес
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Саморазвитие
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Интервью лучших бизнесменов
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Проблемы глобального потепления
            .order-3.order-sm-2.col-md-3.col-sm-6.footer__list__item
                p.footer__list__item-title Информация
                ul.footer__list__item-nav
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link О проекте
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Сотрудничество
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Мои рекомендации
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Поддержать проект 
            .order-2.order-sm-3.col-md-4.col-sm-12.footer__list__item
                p.footer__list__item-title Еще
                ul.footer__list__item-nav
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Пользовательское соглашение
                    li.footer__list__item-nav-item
                        a(href="#").footer__list__item-nav-item-link.link Политика конфеденциальности 

            