header.header#header
    .wrap.header__wrap
        nav.header__navbar
            a.header__navbar-brand(href='#') 
                img(src="./images/svg/logo.svg", alt="alt")
            a(href="#").header__navbar-toggler#menu-btn-handler
                .header__navbar-toggler-btn.open
                    span
                    span
                    span
            .header__navbar-menu#mobile-menu
                ul.header__navbar-nav.nav
                    li.nav-item.active
                        a.nav-link(href='#') О проекте
                    li.nav-item
                        a.nav-link(href='#') Курсы
                    li.nav-item
                        a.nav-link(href='#') Мои рекомендации
                    li.nav-item
                        a.nav-link(href='#') Сотрудничество
                    li.nav-item
                        a.nav-link.svg(href='#') 
                            +icon('telegram')
