include ../utils/_mixins

<!DOCTYPE html>
//- or lang="en"
html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")

      //- title
      block title
          title The Work |Your Business Canvas
      //- description
      meta(name="description", content="")
      //- preview image
      meta(property="og:image", content="")
      meta(property="og:image:width", content="600")
      meta(property="og:image:height", content="315")
      //- favicon
      link(rel="icon" type="image/png" href="./images/favicon/favicon-16x16.png" sizes="16x16")
      link(rel="icon" type="image/png" href="./images/favicon/favicon-32x32.png" sizes="32x32")
      link(rel="icon" type="image/png" href="./images/favicon/favicon-96x96.png" sizes="96x96")
      //- only android and chrome
      meta(name="theme-color" content="")

      //- for iphone START \
      //- apple-touch-icon
      link(rel="apple-touch-icon" sizes="57x57" href="./images/favicon/apple-touch-icon/apple-touch-icon-57x57.png")
      link(rel="apple-touch-icon" sizes="114x114" href="./images/favicon/apple-touch-icon/apple-touch-icon-114x114.png")
      link(rel="apple-touch-icon" sizes="72x72" href="./images/favicon/apple-touch-icon/apple-touch-icon-72x72.png")
      link(rel="apple-touch-icon" sizes="144x144" href="./images/favicon/apple-touch-icon/apple-touch-icon-144x144.png")
      link(rel="apple-touch-icon" sizes="60x60" href="./images/favicon/apple-touch-icon/apple-touch-icon-60x60.png")
      link(rel="apple-touch-icon" sizes="120x120" href="./images/favicon/apple-touch-icon/apple-touch-icon-120x120.png")
      link(rel="apple-touch-icon" sizes="76x76" href="./images/favicon/apple-touch-icon/apple-touch-icon-76x76.png")
      link(rel="apple-touch-icon" sizes="152x152" href="./images/favicon/apple-touch-icon/apple-touch-icon-152x152.png")
      //- text-numbers
      meta(name="format-detection" content="telephone=no")
      meta(name="format-detection" content="date=no")
      meta(name="format-detection" content="address=no")
      meta(name="format-detection" content="email=no")

      //- full screen for iphones
      meta(name="apple-mobile-web-app-capable" content="yes")
      //- bottom line in iphones
      meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

      //- for END

      //- preload styles
      link(rel="preload", href="./css/style.css", as="style")
      block styles
    body(style="opacity: 0")
      //- header
      block header
        include header

      main
        //- content
        block content

      //- footer
      block footer
        include footer

      //- scripts and styles
      block footer-styles

      link(rel="stylesheet", href="./css/style.css")
      
      block scripts

      //- script(src="./libs/modernizr-custom.js")
      script(src="./js/main.min.js")

