@import '../mixins/margin';
@import '../mixins/media';
@import '../utils/variables';


.footer{
    padding: 80px 0;
    background: $dark-color;
    &__list{
        &__item{
            color: $white-color;
            &-title{
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 45px;
                opacity: .6;
            }
            &-nav{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &-item{
                    margin: 10px 0;
                    @include v-margin;
                    &-link{
                        font-weight: 500;
                        font-size: 16px;
                        color: $white-color;
                    }
                }
            }
        }
    }
}


// 992<
@include media-tablet-horizontal{
    .footer{
        &__list{
            &__item{
                &-nav{
                    &-item{
                        &-link{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
// 768<
@include media-tablet{
    .footer{
        &__list{
            &__item{
                margin-bottom: 100px;
                @include v-margin;
                &-nav{
                    &-item{
                        &-link{
                            font-size: 16px;

                        }
                    }
                }
            }
        }
    }
}

@include media-custom(540px){
    .footer{
        &__list{
            &__item{
                &:last-child{
                    margin-bottom: 100px;
                }
                &:nth-of-type(2){
                    margin-bottom: 0;
                }
            }
        }
    }
}