@import '../mixins/margin';
@import '../mixins/media';
@import '../utils/variables';


.header{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    padding: 50px 0;
    width: 100%;
    transition: padding .2s ease, background .2s ease;
    z-index: 999999;
    &__navbar{
        display: flex;
        align-items: center;
        &-brand{
            width: 68px;
            display: inline-block;
            margin-right: 250px;
            img{
                width: 100%;
            }
        }
        &-toggler{
            display: none;
        }
        .nav{
            display: flex;
            align-items: center;
            list-style: none;
            &-item{
                margin: 0 22.8px;
                &:nth-last-child(2){
                    margin-right: 0;
                }
                @include h-margin;
            }
            &-link{
                color: $white-color;
                transition: color .2s ease-in;
                font-weight: 500;
                position: relative;
                &.svg{
                    display: none;
                }
                &::after{
                    content: '';
                    width: 95%;
                    height: 2px;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    transform: translate(-50%, 5px);
                    background: $main-color;
                    opacity: 0;
                    transition: opacity .2s ease-in-out;
                }
                &:hover{
                    color: $main-color;
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
    }
    

    // states
    &.scrolled,&.scrolled.open{
        padding: 20px 0;
        background: $white-color;
        .nav{
            &-link{
                color: $dark-color;
                &:hover{
                    color: $main-color;
                }
            }
       }
    }
    &.open{
        background: $dark-color;
    }

    // pages
}

/*
* 
*                      _ _       
*   _ __ ___   ___  __| (_) __ _ 
*  | '_ ` _ \ / _ \/ _` | |/ _` |
*  | | | | | |  __/ (_| | | (_| |
*  |_| |_| |_|\___|\__,_|_|\__,_|
*                                
* 
*/
@include media-laptop{
    .header{
        &__wrap{
            padding: 0 70px;
        }
        &__navbar{
            justify-content: space-between;
            &-brand{
                width: 60px;
                margin-right: 0;
            }
            .nav{
                &-item{
                    margin: 0 17px;
                }
                &-link{
                    font-size: 14px;
                }
            }
        }
    }
}

@include media-tablet{
    .header{
        padding: 20px 0;
        &__wrap{
            padding: 0 15px;
        }
        &__navbar{
            justify-content: space-between;
            &-menu{
                display: none;
                background: $dark-color;
                width: 100%;
                padding: 50px 0;
                position: absolute;
                left: 0;
                bottom: 2px;
                transform: translateY(100%);
                z-index: -1;
                transition: background .2s ease;
                .nav{
                    flex-direction: column;
                    &-item{
                        margin: 0;
                        text-align: center;
                        width: 100%;
                        margin: 10px 0;
                        &:first-child{
                            margin-top: 0;
                        }
                        &:last-child{
                            margin-top: 30px;
                        }
                    }
                    &-link{
                        padding: 10px 5px 3px;
                        &.svg{
                            display: inline-block;
                            svg{
                                width: 30px;
                                height: 30px;
                                fill: $white-color;
                            }
                        }
                    }
                }

            }
            &-toggler{
                overflow: hidden;
                display: flex;
                align-items: center;
                &-btn{
                    width: 40px;
                    height: 20px;
                    position: relative;
                    transform: rotate(0deg);
                    transition: .5s ease-in-out;
                    cursor: pointer;
                    margin-right: 5px;
                    span{
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        margin-top: -2px;
                        background: $main-color;
                        border-radius: 10px;
                        opacity: 1;
                        right: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;
                    }
                    span:nth-child(1) {
                        top: 10%;
                    }                  
                    span:nth-child(2) {
                        top: 50%;
                    }
                    span:nth-child(3) {
                        top: 90%;
                        width: 70%;
                    }
                }
                &::after{
                    content: 'Меню';
                    position: relative;
                    transition: width .3s  ease-in-out, opacity .3s  ease-in-out;
                    opacity: 1;
                    max-width: 54px;
                    width: 54px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $white-color;
                }
                // states
                &.open{
                    .header__navbar-toggler-btn{
                        margin-right: 0;
                        span{
                            background: $white-color;
                            &:nth-child(1) {
                                transform: rotate(-45deg);
                                top: 50%;
                                width: 50%;
                                right: 50%;
                                margin-top: -1px;
                                margin-right: -25%;
                            }
                            &:nth-child(2) {
                                width: 0%;
                                opacity: 0;
                            }
                            
                            &:nth-child(3) {
                                top: 50%;
                                transform: rotate(45deg);
                                right: 50%;
                                width: 50%;
                                margin-top: -1px;
                                margin-right: -25%;
                            }
                        }
                    }
                    &::after{
                        width: 0;
                        opacity: 0;
                    }
                }
            }
        }

        &.scrolled{
            .header__navbar{
                &-menu{
                    background: $white-color;
                    .nav{
                        &-link{
                            color: $dark-color;
                            &.svg{
                                svg{
                                    width: 30px;
                                    height: 30px;
                                    fill: $dark-color;
                                }
                            }
                        }
                    }
                }
                &-toggler{
                    &.open{
                        .header__navbar-toggler-btn{
                            span{
                                background: $dark-color;
                            }
                        }
                    }
                    &::after{
                        color: $dark-color;
                    }
                }
            }
        }
    }
}

// 480<
@include media-mobile{
    .header{
        padding: 20px 0;
        &__wrap{
            padding: 0 15px;
        }
        &__navbar{
            justify-content: flex-end;
            &-brand{
                display: none;
            }
            &-menu{
                display: none;
                background: $dark-color;
                width: 100%;
                padding: 50px 0;
                position: absolute;
                left: 0;
                bottom: 2px;
                transform: translateY(100%);
                z-index: -1;
                transition: background .2s ease;
                .nav{
                    flex-direction: column;
                    &-item{
                        margin: 0;
                        text-align: center;
                        width: 100%;
                        margin: 10px 0;
                        &:first-child{
                            margin-top: 0;
                        }
                        &:last-child{
                            margin-top: 30px;
                        }
                    }
                    &-link{
                        padding: 10px 5px 3px;
                        &.svg{
                            display: inline-block;
                            svg{
                                width: 30px;
                                height: 30px;
                                fill: $white-color;
                            }
                        }
                    }
                }

            }
            &-toggler{
                overflow: hidden;
                display: flex;
                align-items: center;
                &-btn{
                    width: 40px;
                    height: 20px;
                    position: relative;
                    transform: rotate(0deg);
                    transition: .5s ease-in-out;
                    cursor: pointer;
                    margin-right: 5px;
                    span{
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        margin-top: -2px;
                        background: $main-color;
                        border-radius: 10px;
                        opacity: 1;
                        right: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;
                    }
                    span:nth-child(1) {
                        top: 10%;
                    }                  
                    span:nth-child(2) {
                        top: 50%;
                    }
                    span:nth-child(3) {
                        top: 90%;
                        width: 70%;
                    }
                }
                &::after{
                    content: 'Меню';
                    position: relative;
                    transition: width .3s  ease-in-out, opacity .3s  ease-in-out;
                    opacity: 1;
                    max-width: 54px;
                    width: 54px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $white-color;
                }
                // states
                &.open{
                    .header__navbar-toggler-btn{
                        margin-right: 0;
                        span{
                            background: $white-color;
                            &:nth-child(1) {
                                transform: rotate(-45deg);
                                top: 50%;
                                width: 50%;
                                right: 50%;
                                margin-top: -1px;
                                margin-right: -25%;
                            }
                            &:nth-child(2) {
                                width: 0%;
                                opacity: 0;
                            }
                            
                            &:nth-child(3) {
                                top: 50%;
                                transform: rotate(45deg);
                                right: 50%;
                                width: 50%;
                                margin-top: -1px;
                                margin-right: -25%;
                            }
                        }
                    }
                    &::after{
                        width: 0;
                        opacity: 0;
                    }
                }
            }
        }

        &.scrolled{
            .header__navbar{
                &-menu{
                    background: $white-color;
                    .nav{
                        &-link{
                            color: $dark-color;
                            &.svg{
                                svg{
                                    width: 30px;
                                    height: 30px;
                                    fill: $dark-color;
                                }
                            }
                        }
                    }
                }
                &-toggler{
                    &.open{
                        .header__navbar-toggler-btn{
                            span{
                                background: $dark-color;
                            }
                        }
                    }
                    &::after{
                        color: $dark-color;
                    }
                }
            }
        }
    }
}
