mixin icon(name)
  svg(class=attributes.class, id=attributes.id)
    use(xlink:href="./images/svg/i/sprite.svg#" + name)

mixin webpImage(name, type="jpg", alt=name)
  picture
    source(srcset= "./images/webp/" + name+".webp", type="image/webp")
    img(src="./images/"+ name + "." + type, alt="alt" class=attributes.class)
