@import '../utils/variables';
@import '../mixins/media';

/*
      ____                  _                            _         _
     / / /    ___ _   _ ___| |_ ___  _ __ ___        ___| |_ _   _| | ___  ___
    / / /    / __| | | / __| __/ _ \| '_ ` _ \ _____/ __| __| | | | |/ _ \/ __|
   / / /    | (__| |_| \__ \ || (_) | | | | | |_____\__ \ |_| |_| | |  __/\__ \
  /_/_/      \___|\__,_|___/\__\___/|_| |_| |_|     |___/\__|\__, |_|\___||___/
                                                             |___/

*/
*, *::after, *::before{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    // outline: 1px red solid;
}
html{
    box-sizing: border-box;
}

body{
    font-family: $main-font;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: $line-height;
    min-width: 320px;
    overflow-x: hidden;
    &::-webkit-scrollbar { width: 3px; height: 3px;}
    &::-webkit-scrollbar-button {display: none;}
    &::-webkit-scrollbar-track {  background-color: $dark-color;}
    &::-webkit-scrollbar-track-piece { background-color: $white-color;}
    &::-webkit-scrollbar-thumb { height: 50px; background-color: $dark-color}
    &::-webkit-scrollbar-corner { background-color: $dark-color;}
    &::-webkit-resizer { background-color: $dark-color;}
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

// classes
.wrap{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.title{
    margin-bottom: 85px;
    h3{
        font-size: 42px;
    }
    p{
        margin-top: 35px;
        font-size: 30px;
        font-weight: 500;
    }
    &.mobile{
        display: none;
    }
}
.btn{
    font-weight: 500;
    padding: 15px 50px;
    border: none;
    font-size: 16px;
    transition: color .2s ease-in-out, background .2s ease-in-out;
    &.btn-primary{
        border: 4px solid $main-color;
        background: $main-color;
        color: $white-color;
        &:hover{
            background: $dark-color;
        }
    }
    &.btn-head{
        color: $white-color;
        background: $main-color;
        border: 2px solid $main-color;
        &:hover{
            background: $dark-color;
        }
    }
    &.btn-outline-primary{
        border: 2px solid $main-color;
        background: none;
        color: $white-color;
        &:hover{
            background: $main-color;
            color: $white-color;
        }
    }
}

.link{
    position: relative;
    display: inline-block;
    transition: color .2s ease-in-out;
    &::after{
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: -5px;
        background: $main-color;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
    &:hover{
        color: $main-color;
        &::after{
            opacity: 1;
        }
    }
}


.m-color{
    color: $main-color;
}
.m-background{
    background: $main-color;
}

p.m-background,
span.m-background,
h1.m-background,
h2.m-background,
h3.m-background,
h4.m-background,
h5.m-background{
    padding: 0 5px;
}
.m-underline{
    padding-bottom: 10px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        background: $main-color;
        left: 0;
        bottom: 0;
    }
}
// 992<
@include media-tablet-horizontal{
    .title{
        display: block;
        text-align: center;
        h3{
            font-size: 36px;
        }
        p{
            font-size: 30px;
        }
    }
}
// 768<
@include media-tablet{
    .title{
        margin-bottom: 42px;
        h3{
            font-size: 30px;
        }
        p{
            margin-top: 20px;
            font-size: 22px;
        }
    }
}
// 480<
@include media-mobile{
    .title{
        h3{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
    }
    .wrap{
        padding: 0 10px;
    }
}