include ./utils/_mixins

doctype html
head
  title Login V1
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="preload", href="./css/admin.css"  as="style")

.admin
 .container
    h3.pt-5 АДМИН
    form(method="post", action="admin.php")
        .form-group
            label(for="title") title
            input#title.form-control(type="email", placeholder="name@example.com")
        .form-group
            label(for="link") link
            input#link.form-control(type="email", placeholder="name@example.com")
        .form-group
            label(for="autour") autour
            p пишите через запятую
            input#autour.form-control(type="email", placeholder="name@example.com")
        .form-group
            label(for="description") descriptionr
            textarea#description.form-control(rows="3")
        button.btn.btn-outline-success(type="submit") Submit
    table.table.mt-5.mb-5
        thead
            tr
                th(scope="col") #
                th(scope="col") First
                th(scope="col") Last
                th(scope="col") Handle
        tbody
            tr(data-id="id")
                th(scope="row") 1
                td id
                td name
                td 
                    a.delete(href="#") Удалить 
            tr
                th(scope="row") 2
                td Jacob
                td Thornton
                td 
                    a.delete(href="#") Удалить 
            tr
                th(scope="row") 3
                td Larry
                td the Bird
                td 
                    a.delete(href="#") Удалить 




link(rel="stylesheet", href="./css/style.css")
link(rel="stylesheet", href="./css/admin.css")
script(src="./libs/jquery.min.js")
script(src="./js/main.min.js")

