extends common/layout

block title
  title cooperation

block styles
  link(rel="preload", href="./css/cooperation.css" as="style")

block content
  include ./includes/main-cooperation.pug 
  //-Подключил Мужика Пифагора
  //- Подключил модалку пока закоментил
  include ./includes/cooperations-brief.pug
  //-Подключил контент три фотографии
  include ./includes/cooperations-send.pug
  //-Подключил чуть ниже контента где Макбук с EMAIL

block footer-styles
      link(rel="stylesheet", href="./css/cooperation.css")
block scripts
  script(src="./libs/jquery.min.js")