extends common/layout

block title
  title Courses

block styles
  link(rel="preload", href="./css/courses.css"  as="style")
block content
  include ./includes/courses-banner.pug
  include ./includes/playlist.pug
  include ./includes/feedback.pug
  include ./includes/favorite-video.pug
  include ./includes/donat.pug  
  include ./includes/modal.pug
block footer-styles
  link(rel="stylesheet", href="./css/courses.css")
block scripts
  script(src="./libs/jquery.min.js")
  script(src="./player/playerjs.js")
  script(src="./libs/owl.carousel.min.js")
  script(src="./libs/slick.min.js")