extends common/layout

block title
  title MAIN

block styles
  link(rel="preload", href="./css/main.css"  as="style")

block content
  include ./includes/main-banner.pug
  include ./includes/best.pug
  include ./includes/advantages.pug 
  include ./includes/share.pug
  include ./includes/category.pug
  include ./includes/donat.pug
  
block footer-styles
    link(rel="stylesheet", href="./css/main.css")
block scripts
  script(src="./libs/jquery.min.js")
  script(src="./libs/owl.carousel.min.js")
