include ./utils/_mixins

doctype html
head
  title Login V1
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="preload", href="./css/login.css"  as="style")
.limiter
  .container-login100
    .wrap-login100
      .login100-pic.js-tilt(data-tilt="")
        +webpImage("img-01", "png")
      form.login100-form.validate-form
        span.login100-form-title
          | Login
        .wrap-input100.validate-input(data-validate="Valid email is required: ex@abc.xyz")
          input.input100(type="text", name="email", placeholder="Email")
          span.focus-input100
          span.symbol-input100
        .wrap-input100.validate-input(data-validate="Password is required")
          input.input100(type="password", name="pass", placeholder="Password")
          span.focus-input100
          span.symbol-input100
        .container-login100-form-btn
          button.login100-form-btn
            | Login

link(rel="stylesheet", href="./css/style.css")
link(rel="stylesheet", href="./css/login.css")
script(src="./libs/jquery.min.js")
script(src="./libs/popper.min.js")
script(src="./libs/bootstrap.min.js")
script(src="./libs/select2.min.js")
script(src="./libs/tilt.jquery.min.js")
script.
  $(".js-tilt").tilt({
    scale: 1.1
  })
script(src="./js/main.min.js")

