$mediaWidthMobileSmall: 320px !global;//-добавил потому что появлялась белая полоса с боку
$mediaWidthMobile: 480px !global;
$mediaWidthTablet: 767px !global;
$mediaWidthTabletHorizontal: 992px !global;
$mediaWidthLaptop: 1200px !global;

/*

      ____        _       _           _
     / / /   __ _| | ___ | |__   __ _| |    __   ____ _ _ __ ___
    / / /   / _` | |/ _ \| '_ \ / _` | |____\ \ / / _` | '__/ __|
   / / /   | (_| | | (_) | |_) | (_| | |_____\ V / (_| | |  \__ \
  /_/_/     \__, |_|\___/|_.__/ \__,_|_|      \_/ \__,_|_|  |___/
            |___/

*/
$main-font: 'GothamPro', sans-serif;
$line-height: 1.2;

$main-color: #01a8ad  !global;
$dark-color:  #111111 !global;
$white-color:  #fbfafa  !global;
// ========<PAGES ILYA >========
$gray-color:  #b0aeae  !global;
$video-color:  #eeeeee  !global;
// $text-color-main: ;
// $text-color-dark: ;
// $text-color-light: ;


